<h4><?php echo $this->__('Newsletter') ?></h4>
<div class="clear"></div>
<div class="footer_center_newsletter">
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
       <input type="text" name="email" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
        <button type="submit" title="<?php echo $this->__('Submit') ?>" id="newsletter_button" class="button"><i class="fa fa-envelope-o fa-2x"></i></button>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    //]]>
    </script>

</div>
    
