<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
    $theme = $this->helper('danko');
    $productHelper = $this->helper('danko/product');
    $galleryHelper = $this->helper('danko/gallery');
    $galleryHelper->setMediaBlock($this);
    $retinaIsEnabled = $theme->getConf('general/enable_retina');
?>

<?php if ($productHelper->getPageVariant() == 'vertical'): ?>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 image ">
    
        <ul id="etalage">
            <?php foreach ($galleryHelper->getThumbnails() as $thumb): ?>
            <li class="item-<?php echo $thumb['num'] ?>">
                <a class="gallery-link" rel="gallery" href="<?php echo $thumb['orig_img'] ?>" title="">
                <img class="etalage_thumb_image" <?php if ($thumb['num'] == 0): ?>id="main-thumb"<?php endif ?> src="<?php echo $thumb['orig_img'] ?>" />
                <img class="etalage_source_image" src="<?php echo $thumb['orig_img']; ?>" />
                </a>
            </li>
            <?php endforeach; ?>  
        </ul> 
        <div id="gallery_01" > 
            <div id="images">   
                <?php foreach ($galleryHelper->getThumbnails() as $thumb): ?>  
                <div class="preview gallery-<?php echo $thumb['num'] ?>">
                     <img src="<?php echo  $thumb['orig_img']; ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $thumb['orig_img']; ?>"<?php endif; ?> alt="<?php echo  $thumb['title']; ?>" />
                </div>
                <?php endforeach; ?>                
            </div>  
        </div>     
    </div> 
</div>
<?php endif; ?>

<?php if ($productHelper->getPageVariant() == 'vertical'): ?>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"> 
    <?php endif; ?>
    
        <?php if ($productHelper->getPageVariant() != 'vertical'): ?> 
        <ul id="etalage">
            <?php foreach ($galleryHelper->getThumbnails() as $thumb): ?>
                <li class="item-<?php echo $thumb['num'] ?>">
                    <a class="gallery-link" rel="gallery" href="<?php echo $thumb['orig_img'] ?>" title="">
                    <img class="etalage_thumb_image thumb-<?php echo $thumb['num'] ?>" <?php if ($thumb['num'] == 0): ?>id="main-thumb"<?php endif ?> src="<?php echo $thumb['orig_img'] ?>" />
                    <img class="etalage_source_image img-<?php echo $thumb['num'] ?>" src="<?php echo $thumb['orig_img']; ?>" />
                    </a>
                </li>
            <?php endforeach; ?>  
        </ul> 
        <div id="gallery_01" > 
            <div id="images">   
                <?php foreach ($galleryHelper->getThumbnails() as $thumb): ?>  
                <div class="preview gallery-<?php echo $thumb['num'] ?>">
                     <img src="<?php echo  $thumb['orig_img']; ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $thumb['orig_img']; ?>"<?php endif; ?> alt="<?php echo  $thumb['title']; ?>" />
                </div>
                <?php endforeach; ?>                    
            </div>  
        </div>          
        
        <?php endif; ?>
     
        <?php if ($productHelper->getPageVariant() == 'vertical'): ?>
    </div> 

<?php endif ?>

    
<script type="text/javascript">
    jQuery("#images").owlCarousel({  
        items : <?php echo $productHelper->getThumbCount() ?>, 
        paginationSpeed : 1000,
        rewindSpeed : 2000,
        slideSpeed : 1000,
        pagination : false,
        autoHeight : true,
        mouseDrag : true,
        touchDrag : true, 
        stopOnHover : true,
        lazyLoad : true,
        navigation : true 
    });


    var zoomSizes = <?php echo $productHelper->getZoomParams(); ?>;
    console.log()
    <?php if ($productHelper->getPageVariant() == 'vertical'): ?>
    var thumbsPos = "left";
    <?php else: ?>
    var thumbsPos = "bottom";
    <?php endif ?>
    jQuery(function() {
        var target = jQuery('#etalage');

        // init depending on current screen width
        var currentScreenWidth = jQuery(window).width();
        var isZoomInitialized = false;
        resizerParams = {}
        for (var i = 0; i < zoomSizes.length; i++) {
            screenWidth = zoomSizes[i].screenWidth;
            zoomSizes[i]['thumbsPos'] = thumbsPos;
            //attach resizer handler for given screen width
            resizerParams[screenWidth] = (function (params) {
                return function() {
                    dankoTheme.destroyZoom(target);
                    dankoTheme.createZoom(target, params);
                }
            })(zoomSizes[i]);
            // init zoom if given screen width fits (and lesser screen hasn't been found yet)
            // if this is the last width the init anyway, we won't find better
            if (!isZoomInitialized && ((currentScreenWidth <= screenWidth) || 
                                        i === zoomSizes.length-1)) {
                isZoomInitialized = true;
                dankoTheme.createZoom(target, zoomSizes[i]);
            }
        }

        // reinit on resize
        zoomResizer = Resizer(resizerParams);
        // Invoke Fancybox on the gallery
        jQuery('[rel="gallery"]').fancybox({
            afterLoad: function(current, previous){
                // Synchronise Etalage with Fancybox navigation
                if (previous){
                    etalage_show(current.index+1);
                }
            }
        });
    });
</script>  

<style>
    #etalage{
        margin-right: 50px;
    }
</style>
<?php echo $this->getChildHtml('after'); ?>

