<?php $_items = $this->getReviewsCollection()->getItems();?>
<div class="box-collateral box-reviews" id="reviews">
    <?php if (count($_items)):?>
        <h2><?php echo $this->__('Customer Reviews') ?></h2>
        <?php echo $this->getChildHtml('toolbar') ?>
        <div class="reviews-list">
        <?php foreach ($_items as $_review):?>
            <div class="review">
                <div class="name">
                <a href="<?php echo $this->getReviewUrl($_review->getId()) ?>">
                <?php echo $this->escapeHtml($_review->getTitle()) ?>
                </a>
                <span>- <?php echo $this->__('Review by %s', $this->escapeHtml($_review->getNickname())) ?> </span>
                </div>
                <?php $_votes = $_review->getRatingVotes(); ?>
                <?php if (count($_votes)): ?>
                <div class="stars">
                    <?php foreach ($_votes as $_vote): ?>
                        <div class="rating">
                            <span><?php echo $this->escapeHtml($_vote->getRatingCode()) ?></span>
                            <div class="rating-box">
                                <div class="rating" style="width:<?php echo $_vote->getPercent() ?>%;"></div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
                <?php endif; ?>
                <div class="message_box">
                    <?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
                    <small class="date"><?php echo $this->__('(Posted on %s)', $this->formatDate($_review->getCreatedAt()), 'long') ?></small>
                </div>
            </div>
        <?php endforeach; ?>
        </div>
        <?php echo $this->getChildHtml('toolbar') ?>
    <?php endif;?>
    <?php echo $this->getChildHtml('review_form') ?>
</div>