<?php echo $this->getChildHtml('list_before')?>
<div id="tags">
<?php if( $this->getCount() ): ?>
<div class="other_text"><?php echo $this->__('Other people marked this product with these tags:') ?></div>
<ul id="product_tags" class="product-tags">
    <?php echo $this->renderTags('<li><a href="%1$s">%2$s</a></li>') ?>
</ul>
<?php endif; ?>
<form id="addTagForm" action="<?php echo $this->getFormAction(); ?>" method="get">
    <div class="form_add">
        <label for="productTagName"><?php echo $this->__('Add Your Tags:') ?></label>
        <div class="input_box">
            <input type="text" class="input-text required-entry" name="productTagName" id="productTagName" />
        </div>
        <button type="button" title="<?php echo $this->__('Add Tags') ?>" class="button" onclick="submitTagForm()">
            <?php echo $this->__('Add Tags') ?>
        </button>
    </div>
</form>
<p class="note"><?php echo $this->__("Use spaces to separate tags. Use single quotes (') for phrases.") ?></p>
<script type="text/javascript">
//<![CDATA[
    var addTagFormJs = new VarienForm('addTagForm');
    function submitTagForm(){
        if(addTagFormJs.validator.validate()) {
            addTagFormJs.form.submit();
        }
    }
//]]>
</script>

</div>