<?php $theme = $this->helper('danko') ?>
<?php $isEnabled = ($this->getRequest()->getControllerName() !== "product" || $theme->getConf("product_page/enable_addtocart")) ?>
<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if($_product->isSaleable() && $isEnabled): ?>
    <div class="add-to-cart col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <?php if(!$_product->isGrouped()): ?>
            <div class="quanitybox">
                <label for="qty"><?php echo $this->__('Qty:') ?></label>
                <div class="quanitybox_right">
                <!-- <button type="button" class="count-increment" onclick="dankoTheme.incrementCount(this)">&nbsp;</button> -->
                <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" />
                <!-- <button type="button" class="count-decrement" onclick="dankoTheme.decrementCount(this)">&nbsp;</button> -->
                </div>
            </div>
        <?php endif; ?>
        <button type="button" class="button" title="<?php echo $buttonTitle ?>" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
        <?php echo $this->getChildHtml('', true, true) ?>
    </div>
<?php endif; ?>
