
<?php $_product = $this->getProduct(); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>
<div class="add_to_links col-xs-12 col-sm-12 col-md-12 col-lg-4">
<!-- !!! no ID please -->
<?php if ($this->helper('wishlist')->isAllow()) : ?>
    <a id="wishlist_icon" href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
<?php endif; ?>
<?php
    $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
?>
<?php if($_compareUrl) : ?>
    <a id="compare_icon" href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
<?php endif; ?>
<?php if ($this->canEmailToFriend()): ?>
    <a id="email_icon" href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a>
<?php endif; ?>
</div>