<?php
$product = (Mage::registry('current_product'));
$theme = $this->helper('danko');
?>
<?php if($theme->getConf("product_page/enable_tabs")): ?>
<div id="tabs">
<ul>
    <?php foreach ($this->getTabs() as $_index => $_tab): ?>
    <?php if($this->getChildHtml($_tab['alias'])): ?>
        <?php 
        if ($_tab['alias'] == 'custom_global') $title = $theme->getConf('product_page/global_tab_title');
        elseif ($_tab['alias'] == 'custom_unique') $title = $product->getData('owlthemes_custom_tab_title');
        else $title = $_tab['title'];
        ?>
        <li><a href="#product_tabs_<?php echo $_tab['alias'] ?>" class="tab-link-<?php echo $_tab['alias'] ?>"><?php echo $title?></a></li>
    <?php endif; ?>
    <?php endforeach; ?>
</ul>

<?php foreach ($this->getTabs() as $_index => $_tab): ?>
<?php if($this->getChildHtml($_tab['alias'])): ?>
    <div class="product-tabs-content" id="product_tabs_<?php echo $_tab['alias'] ?>"><?php echo $this->getChildHtml($_tab['alias']) ?></div>
<?php endif; ?>
<?php endforeach; ?>

</div>


<script type="text/javascript">
(function($) {
    $(function() {  
        $( "#tabs" ).tabs(); 
        // Hover states on the static widgets
        $( "#dialog-link, #icons li" ).hover(
            function() {
                $( this ).addClass( "ui-state-hover" );
            },
            function() {
                $( this ).removeClass( "ui-state-hover" );
            }
        );
    })
})(jQuery);

</script>
<?php endif ?>