/* Blog */
.postWrapper {padding-bottom: 30px; margin-bottom: 30px;border-bottom: 1px solid #ebebeb;}
.postTitle{height: 40px; margin-bottom: 10px;}
.postTitle h2 {font-size: 28px; float: left; display: inline-block; margin-bottom: 0; line-height: 1;}
.postTitle h3 {font-family: HelveticaNeueRegular, sans-serif; font-weight: normal; font-size: 12px;color: #808080;font-size:12px; float: right; display: inline-block; margin-top: 10px; margin-bottom: 0;}
.postDetails {display: none;}
.aw-blog-read-more  {   border: 1px solid #E5E5E5; margin-top: 10px; font-family: HelveticaNeueRegular, sans-serif; font-weight: normal; background: white; padding: 10px 20px; display: inline-block; text-align: center; color: #404040; font-size: 14px;}
.aw-blog-read-more:hover { text-decoration: none; background: #ef7979;border: 1px solid #ef7979; color: white;} 
.menu-recent {margin-bottom: 30px;}
.blog-index-list .breadcrumbs .breadcrumbs , .blog-post-view .breadcrumbs .breadcrumbs {margin: 0;}
.postWrapper .tags li {display: inline-block;} 
.postWrapper .tags li a {display: inline-block;  border: 1px solid #E5E5E5; text-align: center; padding: 5px 10px; margin-right: 5px;} 
.postWrapper .tags li a:hover { text-decoration: none; background: #ef7979;border: 1px solid #ef7979; color: white;} 