.hs-wrapper{
	width: 100%;
	height: 393px;
    display: block;
	position: relative;
	margin: 40px auto;
	overflow: hidden; 
    z-index: 2;
}
.hs-wrapper img{
	top: 0px;
	left: 0px;
	position: absolute;
	-webkit-animation: showMe 0.8s linear infinite 0s forwards;
	-moz-animation: showMe 0.8s linear infinite 0s forwards;
	-o-animation: showMe 0.8s linear infinite 0s forwards;
	-ms-animation: showMe 0.8s linear infinite 0s forwards;
	animation: showMe 0.8s linear infinite 0s forwards;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;	
}
.hs-wrapper img:nth-child(1){
	z-index: 9;
}
.hs-wrapper img:nth-child(2){
    -webkit-animation-delay: 1.1s;
	-moz-animation-delay: 1.1s;
	-o-animation-delay: 1.1s;
	-ms-animation-delay: 1.1s;
	animation-delay: 1.1s;
	z-index: 8;
}
.hs-wrapper img:nth-child(3){
    -webkit-animation-delay: 2.2s;
	-moz-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	-ms-animation-delay: 2.2s;
	animation-delay: 2.2s;
	z-index: 7;
}
.hs-wrapper img:nth-child(4){
    -webkit-animation-delay: 3.3s;
	-moz-animation-delay: 3.3s;
	-o-animation-delay: 3.3s;
	-ms-animation-delay: 3.3s;
	animation-delay: 3.3s;
	z-index: 6;
}
.hs-wrapper img:nth-child(5){
    -webkit-animation-delay: 4.4s;
	-moz-animation-delay: 4.4s;
	-o-animation-delay: 4.4s;
	-ms-animation-delay: 4.4s;
	animation-delay: 4.4s;
	z-index: 5;
}
.hs-wrapper img:nth-child(6){
    -webkit-animation-delay: 5.5s;
	-moz-animation-delay: 5.5s;
	-o-animation-delay: 5.5s;
	-ms-animation-delay: 5.5s;
	animation-delay: 5.5s;
	z-index: 4;
}
.hs-wrapper img:nth-child(7){
    -webkit-animation-delay: 6.6s;
	-moz-animation-delay: 6.6s;
	-o-animation-delay: 6.6s;
	-ms-nimation-delay: 6.6s;
	animation-delay: 6.6s;
	z-index: 3;
}
.hs-wrapper img:nth-child(8){
    -webkit-animation-delay: 7.7s;
	-moz-animation-delay: 7.7s;
	-o-animation-delay: 7.7s;
	-ms-animation-delay: 7.7s;
	animation-delay: 7.7s;
	z-index: 2;
}
.hs-wrapper:hover img{
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-o-animation-play-state: running;
	-ms-animation-play-state: running;
	animation-play-state: running;
}
.hs-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 500;
	background: rgba(0,0,0,0.6);
	box-shadow: 0 0 0 0 rgba(255,255,255,0.3) inset;
	pointer-events: none;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.hs-overlay span{
	display: block; 
	position: absolute; 
    padding: 15px;
	width: 88%; 
	top: 150px;
    margin: 0px 0px 0px 15px;
    font-size: 30px;
    
	color: #fff;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	text-align: center;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hs-wrapper:hover .hs-overlay{
	opacity: 1;
	box-shadow: 0 0 0 5px rgba(255,255,255,0.3) inset;
}

@-webkit-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-moz-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-o-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-ms-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}


