/*
Theme Name: Danko
Theme URI: http://owl-themes.net/
Author: Owl-themes
Author URI: http://themeforest.net/user/owl-themes
Description: ThemeForest Premium Theme
Version: 0.0.1 
*/	


@media (min-width: 991px) { 
    .header_three .flexnav>li {border: 1px solid  transparent; margin-top: 5px;}
    .header_three .flexnav li a {padding: 7px 13px 7px; font-size: 14px;}
    .header_three .flexnav .label_cat {font-size: 10px; top: -11px;}
    .header_three .flexnav .label_cat:before {top: 14px;border-width: 3px;}
    .header_three .flexnav  {margin-top: 35px!important;}
    .fixed .flexnav>li{margin-left: 0!important;margin-top:0px;float: none; display: inline-block;}
    .flexnav>li{margin-left: 0!important;margin-top: 8px;}
    .header_three .fixed  .flexnav {margin: 0!important;}
    .fixed { padding:0px 30px 0px 30px;} 

}

     
/* Navigation version 1 dropdown menu*/
.navigation {position: relative; z-index: 3;} 
.flexnav { border-bottom: 5px solid #EAEAEA; }
.flexnav:after{content:"";display:table;clear:both}
.flexnav>li{float:left;  }
.flexnav li{display:block;position:relative}
.flexnav>li.item-with-ul>a{padding-right:35px}
.flexnav li a{position:relative;display:block;z-index:2; font-size: 16px;text-transform: uppercase;color: #404040;padding: 8px 20px 8px;line-height: 1.3em;text-decoration: none;}
.flexnav li a:hover,.flexnav li.active>a{color:#ef7979}
.flexnav .navigation_right {display: none!important;}
.header_three .flexnav {border: none; }
.fixed ul li a { font-size: 14px;}

/* label category link new, sale, hot*/
.flexnav .label_cat { display:block; position: absolute;top: -17px;right: -1px; line-height: 1.4; padding: 0px 5px; text-align: center;  color: white; font-size: 12px;z-index: 999999;text-transform: none;}
.flexnav .label_cat:before {position: absolute;left: 4px;top: 16px; content: "";width: 0;height: 0;border-style: solid;border-width: 4px;  }
.flexnav .sale_label:before { border-top-color: #ef7979;}  
.flexnav .hot_label:before { border-top-color: #f0d628;} 
.flexnav .new_label:before { border-top-color: #73ccc7;} 
.flexnav .sale_label {background: #ef7979; } 
.flexnav .hot_label {background: #f0d628;}
.flexnav .new_label {background: #73ccc7;}
.flexnav .label_cat_vn { display: inline-block; line-height: 1.4; margin-left: 10px; padding: 0 5px; text-align: center;  color: white; font-size: 12px;z-index: 999999;text-transform: none;}
.flexnav li>ul>li>ul>li .label_cat_vn {display: inline-block; line-height: 1.4;}
.flexnav .featured_cat {display: none;}
.flexnav>li {border: 1px solid transparent; }
.flexnav>li:hover { border: 1px solid #EEE;}
.flexnav>li{margin-left: 0!important; }
.flexnav ul li a{ font-size: 14px;color: #585858;font-family: HelveticaNeue, sans-serif; padding:9px 55px 9px 25px; text-transform: none;}
.flexnav ul {position:absolute; left:0;display:block;z-index: 9999;width: 230px;background: #FFF;  border: 1px solid #eee;    }
.flexnav .show:before {content: "" ; display: block; margin-bottom: 10px; height: 5px;  background: #ef7979; width: 100%; }
.flexnav .show:after {content: "" ; display: block; margin-bottom: 10px; height: 5px;   width: 100%; }
.flexnav>li>ul{left:auto; text-align: left; }
.flexnav ul ul{margin-left:227px;top:0}
.flexnav li ul li{position:relative;overflow:hidden}
.flexnav li ul.show li{overflow:visible}
.flexnav li ul li a{ }
.flexnav ul li ul li a{ }
.flexnav ul li ul li ul li a{ }
.flexnav li ul.open{display:block;opacity:1;visibility:visible;z-index:1}
.flexnav li ul.open li{overflow:visible;max-height:100px}
.flexnav li ul.open ul.open{margin-left:100%;top:0}
.flexnav>.item-with-ul:hover { border: 1px solid #eee; } 
.flexnav .touch-button{position:absolute;z-index:999;top:0;right:0;width:36px;height:36px;display:inline-block;background-image: url(../images/nav_lired.png)  ;background-position: center 16px;background-repeat: no-repeat;}
.flexnav .touch-button:hover{cursor:pointer; }
.flexnav ul li .touch-button {  background-image: url(../images/nav_li2.png)  ;background-position: center 16px;background-repeat: no-repeat;}
.flexnav ul li .touch-button:hover {cursor:pointer; }
.flexnav li ul li:hover>.touch-button { background-position: center 16px; background-color: #f5f5f5;}
.flexnav>li:hover >.touch-button::after,.sm-screen .submenu-open::after{border-top-color:#2eb398}
.flexnav ul li .touch-button{width:39px;height:39px; }
.flexnav ul li .touch-button::after{top:15px}
.flexnav.lg-screen ul li .touch-button::after{border-left-color:#ddd;border-top-color:transparent;border-width:5px}
.flexnav.lg-screen ul li:hover>.touch-button::after{border-left-color:#2eb398}
.flexnav.sm-screen ul li .touch-button::after{border-width:5px;left:14px;top:17px}
.flexnav .active {color: #EF7979; }
 

/* Menu mobile and tablet version */
.menu-button{ position:relative;display:none;padding:11px 10px 10px 75px;cursor:pointer;  font-size: 16px;text-transform: uppercase;color: #404040; }
.menu-button .touch-button .navicon{font-size:16px;position:relative;top:1em;color:#666}
.menu-button .touch-button{background-image: url(../images/mobile_nav.png)  ;background-position: center 16px;background-repeat: no-repeat;position:absolute;z-index:999;padding: 10px;top:0;left:10px;width:45px;height:45px;display:inline-block;text-align:center}
.menu-button .touch-button:hover {background-position: center -20px; background-color: #ef7979;}
.menu-button.one-page{position:fixed;top:0;right:5%;padding-right:45px}

@media all and (max-width:990px){ 
    .flexnav{display: none;max-height:0;}
    .flexnav.show{border-top:4px solid #EF7979; background: white;display:  block;max-height:2000px}
    .flexnav .active { border: none;}
    .flexnav li{float:none; border: none;}
    .flexnav .item-with-ul:hover {border: none;}
    .flexnav li:hover {border: none;}
    .flexnav li a {background: white; padding: 11px 25px 11px 25px; border-left: 1px solid #efefef; border-bottom: 1px solid #efefef; border-right: 1px solid #efefef}
    .flexnav ul {width: 100%; border: none; position: relative;}
    .flexnav .show:before {display: none;}
    .flexnav .show:after {display: none;}
    .flexnav ul li a { padding: 12px 25px 12px 25px;}
    .flexnav .touch-button {width: 55px; height: 43px;background-image: url(../images/plus_minus.png);background-position: center 14px;background-color: #f5f5f5;background-repeat: no-repeat;}   
    .flexnav .item-with-ul:hover .touch-button {background-position: center 14px;background-color: #f5f5f5;}
    .flexnav .item-with-ul:hover .touch-button:hover {background-position: center -26px;}
    .flexnav .touch-button:hover{ background-color: #ef7979!important;}
    .flexnav ul li .touch-button {width: 55px; height: 45px;background-image: url(../images/plus_minus.png);background-position: center 14px;background-color: #f5f5f5;background-repeat: no-repeat;}   
    .menu-button:hover {color: #EF7979;}
    .menu-button:hover .touch-button {background-position: center -20px; background-color: #EF7979;}
    .submenu-open {background-position: center -76px!important;background-color: #ef7979!important;} 
    .flexnav>li.item-with-ul>a {padding-right: 70px;}
    .flexnav li ul li a { font-size: 16px;}
    .flexnav li ul li ul li a { font-size: 14px; padding: 13px 25px 13px 55px;} 
    .flexnav ul li ul li ul li a {   padding: 13px 25px 13px 70px;} 
    .flexnav li ul li ul li ul li ul a {padding-left: 80px; font-size: 12px;}
    .flexnav ul li a{width:auto}
    .flexnav ul,.flexnav ul ul{position:relative;margin-left:0;width:100%}
    .flexnav ul li a{padding-left:37px}
    .flexnav ul ul li a{padding-left:49px}
    .flexnav ul ul ul li a{padding-left:61px}
    .menu-button{display:block} 
    .flexnav .label_cat { position: relative; right: 0; top: 0; display: inline-block; margin-left: 10px; padding: 0 5px; text-align: center;  color: white; font-size: 12px;z-index: 999999;text-transform: none;}
    .flexnav .label_cat:before {display: none;}  
    .flexnav {text-align: left!important;} 
}
 