/*
Theme Name: Danko
Theme URI: http://owl-themes.net/
Author: Owl-themes
Author URI: http://themeforest.net/user/owl-themes
Description: ThemeForest Premium Theme
Version: 0.0.1 
*/	
    
@media  (min-width:991px){ 
    .flexnav>li>ul { margin-top: 37px; position: absolute;padding:0px;border: 1px solid #eee; border-top: none; left: 0;display: block;z-index: 9999;width: 100%;background: #FFF;}
    .flexnav .level0 > .show:before {content: "";display: block;margin-bottom: 10px;height: 5px;background-color: #ef7979;width: 100%;}
    .flexnav>li{margin-left: 0!important;margin-top: 8px;}
    .fixed .flexnav>li{margin-left: 0!important;margin-top:5px; float: none;}
    .fixed .flexnav>li>ul {top: 3px; box-shadow: 0 1px 10px 0px #cccccc; }
    .flexnav>li:hover {border: 1px solid #eee; }
    .flexnav li a {float: left;}
    .menu-button  {  display: none;  }
    .flexnav li{display:block; }
    .flexnav>li.item-with-ul>a {padding-right: 0px!important;}
    .flexnav>li {float: none; display: inline-block; border: 1px solid transparent;}
    .flexnav .touch-button {float: right;width: 36px;height: 36px;display: inline-block;background-image: url(../images/nav_lired.png);background-position: center 16px;background-repeat: no-repeat;}
    .flexnav .touch-button:hover {cursor: pointer;}
    .flexnav li ul li >.touch-button {display: none!important;}
    .flexnav li ul li ul {display: block!important; margin-left: 10px;}
    .flexnav>li>ul>li li {display: block; width: 100%;} 
    .header_three .flexnav li a {padding: 7px 13px 7px; font-size: 14px;} 
    
    /* level 2 */ 
    .navigation_fullweight > li {position: relative;display: block;float: left;width: 211px;margin-right: 10px; margin-bottom: 30px;}
    .navigation_left > li {display: inline-block;  vertical-align: top; position: relative;display: block;float: left;width: 184px;margin-right: 10px; margin-bottom: 30px;}
    .flexnav li ul li a {font-size: 16px; text-transform: uppercase; padding: 0 0 10px 0;}
    
    /* level 3 */
    .flexnav ul li ul li a { text-transform: none; font-size: 14px;  padding: 3px 0 4px 12px ; background: url(../images/block_layered_nav.png) no-repeat 0px 9px; width: 100%;}
     
    /* level 4 */ 
    .flexnav ul li ul li ul {margin-bottom: 10px;}
    .flexnav ul li ul li ul li a { color: #707070; text-transform: none; padding: 2px 0 2px 12px ; font-size: 12px; background: url(../images/block_layered_nav.png) no-repeat 0px 6px; width: 100%;}
    .flexnav ul li ul li ul li .label_cat_vn {font-size: 11px;} 
    .flexnav .navigation_left {display: block; width: 100%; float: left; padding-right: 20px;   padding-left: 20px; padding-top: 10px;} 
    .flexnav .has-right-content .navigation_left {width: 72%;}
    .flexnav .has-right-content .navigation_left { padding-right: 10px;   padding-left: 20px; padding-top: 10px;}
    .flexnav .navigation_fullweight {width: 100%;}
    
     /* Navigation cms block right*/
    .flexnav .navigation_right {display: block; width: 28%; float: right; padding-right: 20px; margin-bottom: 30px;}
    .flexnav .static-item1 > ul {padding: 20px;}
    .flexnav .navigation_right_content_images a { padding: 0; display: block; }
    .flexnav .navigation_right_content_images {margin-bottom: 20px;}  
    .flexnav .navigation_right_content_right {float: right; text-indent: -9999px;
     margin-top: 30px; width: 42px;height: 42px;display: block;  border-radius: 50%;border: 1px solid #E5E5E5; background: #FFF url(../images/holder_right.png) no-repeat 17px 14px;}
    .flexnav .navigation_right_content_right:hover {cursor: pointer; color: white!important; border: 1px solid #EF7979!important;background-color: #EF7979!important;background-position: 17px -34px;}
    .flexnav .navigation_right_content_left {float: left; width: 210px; color: #929292;}
    .flexnav .navigation_right_content_left p {line-height: 1.3; margin-bottom: 0;}
    .flexnav .navigation_right_content_left_title {text-transform: uppercase; color: #404040; font-size: 14px; margin-bottom: 5px;}
    
     /* featured category link */
    .flexnav .featured_cat {border-bottom: 1px solid #EAEAEA; display: block; margin-bottom: 15px;padding: 5px 15px 15px 15px;font-size: 12px;position: relative; float: none;width: 100%;margin-right: 0px;    }
    .flexnav .featured_cat a { display: inline-block;  float: none; text-transform: none; font-size: 12px;}
    .flexnav .featured_cat_left {float: left; display: inline-block;}
    .flexnav .featured_cat_left a {margin: 0 5px; color: #585858; padding: 0!important;}
    .flexnav .featured_cat_right {float: right; display: inline-block;}
    .flexnav .featured_cat_right a { padding: 0px 6px 0px 11px!important; background: url(../images/toplinksli.png) no-repeat center left; }
    .flexnav .featured_cat_right a:first-child {background: none; padding-left: 0;}
    .flexnav .featured_cat_right a:last-child {padding-right: 0;}
     
     /* Header version 3 */
    .header_three .flexnav ul li ul li a {  padding: 3px 0 4px 12px!important ;}
    .header_three .navigation_left > li {width: 157px;}
    .header_three .flexnav li a {padding: 8px 13px 8px;}
    .header_three .flexnav>li.item-with-ul>a {padding-right: 30px;}
    .header_three .flexnav>li:hover {border: 1px solid #EEE;}
    .header_three .flexnav {border: none; margin-top:37px; margin-bottom: 7px;} 
    .header_three .flexnav .navigation_right_content_right {display: inline-block; text-align: center;color: #404040;text-decoration: none;text-transform: none;background-image: none;background-color: #fff;border: 1px solid #E5E5E5; border-radius: 0;float: none;margin: 15px auto 0 auto;width: 70px;padding: 5px 0px 5px!important;height: 28px; font-size: 12px;text-indent: 0px;}
    .header_three .fixed  .flexnav {margin: 0!important;}
    .header_three  .flexnav>li {float: none;} 
    
     /* Navigation version 1 dropdown menu*/
    .navigation {position: relative; z-index: 999;} 
    .flexnav { border-bottom: 5px solid #EAEAEA;} 
    .flexnav:after{content:"";display:table;clear:both}
    .flexnav>li{float:left;  }
    .flexnav>li.item-with-ul>a{padding-right:35px}
    .flexnav li a{position:relative;display:block;z-index:2; font-size: 16px;text-transform: uppercase;color: #404040;padding: 8px 20px 8px;line-height: 1.3em;text-decoration: none;}
    .flexnav li a:hover,.flexnav li.active>a{color:#ef7979} 
    .menu-button {display:none;} 
    .fixed { padding:0px 30px 0px 30px!important; }
    .flexnav .featured_cat_left a {padding:0px 14px 0px 0px !important; background: url(../images/toplinksli.png) no-repeat center right;}
    .flexnav .featured_cat_left a:last-child {background: none;}
}

.navigation {position: relative; z-index: 3;}  
.fixed ul li a { font-size: 14px;}

/* label category link new, sale, hot*/
.flexnav .label_cat {display: block;position: absolute;top: -17px;right: -1px; line-height: 1.4; padding: 0px 5px; text-align: center;  color: white; font-size: 12px;z-index: 999999;text-transform: none;}
.flexnav .label_cat:before {position: absolute;left: 4px;top: 16px; content: "";width: 0;height: 0;border-style: solid;border-width: 4px;  }
.flexnav .sale_label:before { border-top-color: #ef7979;}  
.flexnav .hot_label:before { border-top-color: #f0d628;} 
.flexnav .new_label:before { border-top-color: #73ccc7;} 
.flexnav .sale_label {background: #ef7979; } 
.flexnav .hot_label {background: #f0d628;}
.flexnav .new_label {background: #73ccc7;}
.flexnav .label_cat_vn { display: inline-block; line-height: 1.4; margin-left: 10px; padding: 0 5px; text-align: center;  color: white; font-size: 12px;z-index: 999999;text-transform: none;}
.flexnav li>ul>li>ul>li .label_cat_vn {display: inline-block; line-height: 1.4;}

@media all and (max-width:991px){  
    .header_three .flexnav>li:hover {border: none!important;} 
    .header_thre .flexnav ul li a{padding-left:37px!important;}
    .header_thre .flexnav ul ul li a{padding-left:49px!important;}
    .header_thre .flexnav ul ul ul li a{padding-left:61px!important;}
    .header_three .flexnav {border: none;}     
    .flexnav .featured_cat a { background: #FFF!important;padding: 11px 25px 11px 25px!important;} 
    .flexnav { border-bottom: 5px solid #EAEAEA; }
    .flexnav:after{content:"";display:table;clear:both}
    .flexnav>li{float:left;}     
    .flexnav li{display:block;position:relative}
    .flexnav>li.item-with-ul>a{padding-right:35px}
    .flexnav li a{position:relative;display:block;z-index:2; font-size: 16px;text-transform: uppercase;color: #404040;padding: 8px 20px 8px;line-height: 1.3em;text-decoration: none;}
    .flexnav li a:hover,.flexnav li.active>a{color:#ef7979}
    .flexnav .navigation_right {display: none!important;}
    .flexnav li{display:block;position:relative}
    .flexnav .navigation_right {display: none!important;} 
    .flexnav{display: none;max-height:0;}
    .flexnav.show{border-top:4px solid #EF7979; background: white; display:  block;max-height:2000px}
    .flexnav .active {color: #EF7979; border: none;}
    .flexnav li{float:none; border: none;}
    .flexnav .item-with-ul:hover {border: none;}
    .flexnav li:hover {border: none;}
    .flexnav li a {background: white; padding: 11px 25px 11px 25px; border: 1px solid #eee; border-top: 1px solid transparent; }
    .flexnav ul {width: 100%; border: none; position: relative;}
    .flexnav .show:before {display: none;}
    .flexnav .show:after {display: none;}
    .flexnav ul li a { padding: 12px 25px 12px 25px;}
    .flexnav li ul.show li{overflow:visible}
    .flexnav .touch-button{position:absolute;z-index:999;top:0;right:0; display:inline-block;width: 55px; height: 43px;background-image: url(../images/plus_minus.png);background-position: center 14px;background-color: #f5f5f5;background-repeat: no-repeat}
    .flexnav li ul li{position:relative;overflow:hidden}
    .menu-button:hover .touch-button {background-position: center -20px;  background-color: #EF7979;}   
    .flexnav .item-with-ul:hover .touch-button {background-position: center 14px;background-color: #f5f5f5;}
    .flexnav .item-with-ul:hover .touch-button:hover { cursor: pointer; background-position: center -27px;}
    .flexnav .touch-button:hover{ background-color: #ef7979!important;}
    .flexnav ul li .touch-button {width: 55px; height: 45px;background-image: url(../images/plus_minus.png);background-position: center 14px;background-color: #f5f5f5;background-repeat: no-repeat;}   
    .submenu-open {background-position: center -77px!important;background-color: #ef7979!important;} 
    .flexnav>li.item-with-ul>a {padding-right: 70px;}
    .flexnav li ul li a { text-transform: none;font-size: 16px;}
    .flexnav li ul li ul li a {text-transform: none; font-size: 14px; padding: 13px 25px 13px 55px;} 
    .flexnav ul li ul li ul li a { text-transform: none;  padding: 13px 25px 13px 70px;} 
    .flexnav li ul li ul li ul li ul a {text-transform: none;padding-left: 80px; font-size: 12px;}
    .flexnav ul li a{width:auto}
    .flexnav ul,.flexnav ul ul{position:relative;margin-left:0;width:100%}
    .flexnav ul li a{padding-left:37px}
    .flexnav ul ul li a{padding-left:49px}
    .flexnav ul ul ul li a{padding-left:61px}
    .menu-button{display:block} 
    .flexnav .label_cat { position: relative; right: 0; top: 0; display: inline-block; margin-left: 10px; padding: 0 5px; text-align: center;  color: white; font-size: 12px;z-index: 999999;text-transform: none;}
    .flexnav .label_cat:before {display: none;}  
    .featured_cat_left_title {display: none} 
    .featured_cat a {text-transform: none!important;padding-left: 37px!important;font-size: 16px!important;}
    .flexnav {text-align: left!important;}
    
    /* Menu mobile and tablet version */
    .menu-button{ position:relative;padding:11px 10px 10px 75px;cursor:pointer;  font-size: 16px;text-transform: uppercase;color: #404040; }
    .menu-button .touch-button .navicon{font-size:16px;position:relative;top:1em;color:#666}
    .menu-button .touch-button{background-image: url(../images/mobile_nav.png)  ;background-position: center 16px;background-repeat: no-repeat;position:absolute;z-index:999;padding: 10px;top:0;left:10px;width:45px;height:45px;display:inline-block;text-align:center}
    .menu-button .touch-button:hover {background-position: center -20px; background-color: #ef7979;}
    .menu-button.one-page{position:fixed;top:0;right:5%;padding-right:45px} 

}


@media (min-width: 991px) and (max-width: 1229px) { 
    .header_three .flexnav .featured_cat_left {width: 100%; display: block; text-align: center;}
    .header_three .flexnav .featured_cat_right {width: 100%; display: block;text-align: center;}
    .header_one .flexnav .navigation_right_content_left {float: left;width: 180px;color: #929292;}
    .header_two .flexnav .navigation_right_content_left {float: left;width: 180px;color: #929292;} 
    .header_three .navigation_left > li {width: 188px;}
    .header_three .flexnav .navigation_right_content_left {width: 100%; float: none;}
    .header_three .flexnav .navigation_right_content_left p {font-size: 12px;}
}

 @media (min-width: 1200px) { 
    .fixed .flexnav { height: 40px; position: relative;} 
}