/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.owl-item img {display: block;width: 100%;height: auto; }

.owl-theme .owl-buttons{
right: 0;width: 95px; 
top: -60px;  
position: absolute;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div:hover{cursor: pointer;border: 1px solid #EF7979;background-color: #EF7979;} 
.owl-buttons .owl-next:hover {background-position: 18px -34px;} 
.owl-buttons .owl-prev:hover {background-position: 16px -34px;}  


.owl-buttons  .owl-next{
width: 42px;
height: 42px; 
display: inline-block;
text-indent: -9999px;
right: 0;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border: 1px solid #E5E5E5;
position: absolute; 
background-color: #FFF  ;
background-image: url(../images/holder_right.png)  ;
background-position: 18px 14px;
background-repeat:no-repeat ;
}
 

.owl-buttons .owl-prev {
width: 42px;
height: 42px; 
display: inline-block;
text-indent: -9999px;
left: 0;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border: 1px solid #E5E5E5;
position: absolute;   
background-color: #FFF  ;
background-image: url(../images/holder_left.png)  ;
background-position: 16px 14px;
background-repeat:no-repeat ;



}


/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 10px;
  height: 10px;
  background-color: #CDCDCD;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 3px;
}


.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span  
{  background-color:#FF7A7A;}




.dropdown  {display: block!important;}
.dropdown button {background: none; border: none;  position: relative; padding:5px 55px 5px 5px;  font-size: 22px!important;margin-bottom: 20px; margin-top: 10px;font-family: 'Raleway', sans-serif;font-weight: bold;color: #DDD;}
.dropdown button:hover {background: none; border: none; text-decoration: underline;}
.dropdown button:focus , .dropdown button:active {outline: none;}  









.owl-pagination {  position: absolute;
  bottom: 20px;
  left: 48%;
  z-index: 35;
  height: auto;
  overflow: hidden;}




.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}




 /* retina */
@media all and (-webkit-min-device-pixel-ratio: 1.5) { 
    .owl-buttons .owl-next {background-size: 8px auto;background-image: url(../images/holder_right@2x.png)  ; }
    .owl-buttons .owl-next:hover {background-position: 18px -41px;}
    .owl-buttons .owl-prev {background-size: 8px auto;background-image: url(../images/holder_left@2x.png)  ; }
    .owl-buttons .owl-prev:hover {background-position: 16px -41px;}  
  
}





