/* 
Theme Name: Danko
Theme URI: http://owl-themes.net/
Author: Owl-themes
Author URI: http://themeforest.net/user/owl-themes
Description: ThemeForest Premium Theme
Version: 0.0.1 
*/ 	
 

/* Responsive */ 
@media (min-width: 1200px) {  
    .test:after  { content: '@media (min-width: 1200px)';}  
    
    /* Navigation */
    .fixed {position: fixed; text-align: center; padding: 5px 30px 0px 30px; border-bottom: 5px solid #EAEAEA;top: 0;display: block;  width: 100%;background: white;z-index: 9999;left: 0;}
    .flexnav > li{display: inline-block;} 
   
    /* Grid */
    .category-products .cols-2 .item:nth-child(2n+1) {clear: both; }
    .category-products .cols-3 .item:nth-child(3n+1) {clear: both; }
    .category-products .cols-4 .item:nth-child(4n+1) {clear: both; }
    .category-products .cols-6 .item:nth-child(6n+1) {clear: both; }
    
    /* Header version 3 search */ 
    .header_three .header_center .form-search {height: 37px; width: 37px; border: none; float: right;  background: white;margin-top: 43px; }
    .header_three .header_center .form-search input.input-text {display: none;float: left;width: 213px;border-color: #E3E3E3;color: #CCC;border: 0;padding: 5px 0 5px 8px; height: 100%;}
    .header_three .header_center .form-search .buttons { border: 1px solid #EF7979; width: 43px; border-radius: 50%; float:right;border: 0px solid #EAEAEA;text-indent: -99999px;   background-color: #EF7979;background-image: url(../images/search_icon.png);background-position: center -53px;background-repeat: no-repeat;padding: 2px 15px;width: 40px;height: 100%;}
    .header_three .header_center .form-search .buttons:hover {  background-position: center 9px;   background-color: #FFF;} 
    .header_three .flexnav > li{display: inline-block;float: none;} 
   	.boxed .page_wrapper { max-width:1170px; }
}
     
    
@media (min-width: 991px) and (max-width: 1229px) {  
    .test:after  { content: '(min-width: 991px) and (max-width: 1229px)';}  
   	.boxed .page_wrapper { width:970px; }
    
    .fixed {position: fixed;  border-bottom: 5px solid #EAEAEA;top: 0;display: block;  width: 100%;background: white;z-index: 9999;left: 0;text-align: center;}
    .flexnav > li{display: inline-block;}   
    .category-products .products-grid .item .name {font-size: 14px;}
    
    /* Product page */ 
    .product_view .vertical_carousel {padding: 55px 0px 55px 0;}
    .bx-wrapper .bx-controls-direction a {left: 12%;}     
    .product_view .banner_product {padding-left: 0;}
    .header_one .header_center .header_right .links li {padding: 1px 8px 1px 2px;}
    .two_column .right_column .owl-carousel .owl-wrapper-outer { min-height:415px!important;}
   
    /* Product page version 2 */
    .product_view #product_details_two .product-options-bottom .add_to_links {text-align: right; margin-top: 0px;}
    
    /* Product page version 3 */
    .product_view #product_details_three .product-options-bottom .add_to_links {text-align: right; margin-top: 0px;} 
    
    /* Product page version 1 */   
    .product_page_one .product_image #images .owl-buttons { top: 13%;  }
    .product_page_one .product_details .product-options-bottom a {margin-left: 0;  margin-right: 5px;}
    .product_page_one .product_details .product-options-bottom .add_to_links {text-align: left; margin-top: 15px;padding-top: 25px;margin-top: 30px;border-top: 1px solid #EAEAEA; }
    .product_page_one .product_banner {padding-left: 20px;}
    .product_page_one .product_details {padding: 0 20px 0 20px!important;}    
    .product_page_one .product_details .availability {margin-right: 10px;}
    .widelarge .product_details { padding: 0 20px 0 30px!important; }
    
    /* Product page version 4 */   
    .product_page_four .product_image #images .owl-buttons { top: 13%;  }
    .product_page_four .product_details .product-options-bottom a {margin-left: 0;  margin-right: 5px;}
    .product_page_four .product_details .product-options-bottom .add_to_links {text-align: left; margin-top: 20px;}
    .product_page_four .product_banner {padding-left: 20px;}
    .product_page_four .product_details {padding:  0 20px 0 20px!important;}    
    .product_page_four .product_details .availability {margin-right: 10px;}    
    .product_page_four .product_image .image {background: none; padding-right: 20px; }
    .product_page_four .product_details .product-options-bottom .add_to_links {text-align: left;margin-top: 15px;padding-top: 25px;margin-top: 30px;border-top: 1px solid #EAEAEA;}
    
    /* Header version 3 search static top banner */ 
    .header_three .static_top_banner {font-size: 10px;}
    .header_three .static_top_banner {padding: 10px 10px 0px 10px;}
    .header_three .static_top_banner .your_tell { padding: 10px 15px 10px 25px;  background: url(../images/your_tell.png) no-repeat center left; min-height: 56px;}
    .header_three .static_top_banner .little { padding: 10px 15px 10px 60px; background: url(../images/little.png) no-repeat 32px center;  min-height: 56px;}
    .header_three .static_top_banner .return { padding: 10px 0px 10px 57px; background: url(../images/return.png) no-repeat 29px center;  min-height: 56px;}
    
    /* Header version 3 search */
    .header_three .header_center .form-search {height: 37px; width: 37px; border: none; float: right;  background: white;margin-top: 43px; }
    .header_three .header_center .form-search input.input-text {display: none;float: left;width: 213px;border-color: #E3E3E3;color: #CCC;border: 0;padding: 5px 0 5px 8px; height: 100%;}
    .header_three .header_center .form-search .buttons { border: 1px solid #EF7979; width: 43px; border-radius: 50%; float:right;border: 0px solid #EAEAEA;text-indent: -99999px;   background-color: #EF7979;background-image: url(../images/search_icon.png);background-position: center -53px;background-repeat: no-repeat;padding: 2px 15px;width: 40px;height: 100%;}
    .header_three .header_center .form-search .buttons:hover {  background-position: center 9px;   background-color: #FFF;} 
  
    /* Slider */ 
    .infoBlock { max-width: 360px;top: 60px;} 
    .large_title {font-size: 22px;}
    
    /* Banner */ 
    .banner_hover { width: 303px;padding: 15px;}
    .banner { width: 303px; margin-right: 15px;}
    .banner_last {margin-right: 0; width: 303px;} 
    .banner_hover_title {font-size: 22px;  margin: 0;}
    .banner_hover_text {font-size: 12px;}
    .banner_title {font-size: 20px; padding: 5px 0 5px 0;}
    .banner_text  {font-size: 12px;}

    /* Home banner animated */   
    .hs-wrapper{ height: 315px;}
    .hs-overlay span {width: 86%; top: 125px; margin: 0px 0px 0px 15px; font-size: 24px; padding: 5px;}
    
    /* Cart page */   
    .cart .item-product-edit a { padding:30px 0px 10px 0px; }
    .cart .item-product-price .cart-price { padding:30px 0px 10px 0px; }
    .cart .item-product-delete a {  margin-top: 20px}
    .cart .item-product-qty input { margin: 27px auto 0 auto;}
    .cart .item-product-totals .cart-price {display: block;  padding:30px 10px 10px 10px;}
    .cart .use-ajax {padding-top: 5px; display: block;}
        
    /* Wishlist page */ 
    .button {padding: 10px;}  
    
    /* Left column */ 
    .left_column .homeproduct {display: none;}
    
     /* Flickr */ 
    .footer_link .stream a img {width: 48px;}    
     
     /* Social */
    .footer_center .social em {line-height: 26px;width: 26px;height: 26px;font-size: 15px;}
    .footer_center .social a {margin-right: 5px; width: 26px;}
     
    /* footer */ 
    .footer_link h4, .footer_center h4 {font-size: 18px;}
    .footer_bootom_left .links li a {font-size: 12px;}
    .footer_bootom_right {font-size: 12px;}
    .footer_center .newsletter_two #newsletter  {width: 75%;} 
    .footer_center .payment li { margin-right:5px;}
    .footer_center .payment li img {width: 50px;}
    
    /* Grid */
    .category-products .cols-2 .item:nth-child(2n+1) {clear: both; }
    .category-products .cols-3 .item:nth-child(3n+1) {clear: both; }
    .category-products .cols-4 .item:nth-child(4n+1) {clear: both; }
    .category-products .cols-6 .item:nth-child(3n+1) {clear: both; }
} 

@media (max-width: 991px) and (min-width: 767px){ 
    .test:after  { content: '(max-width: 991px) and (min-width: 767px)';} 
   	.boxed .page_wrapper { max-width:1170px; }
    .homeproducts .ribbon-new {width: 60px; font-size: 11px;}
    .homeproducts .ribbon-sale {width: 60px; font-size: 11px;}  
    .product_page_four .product_image .image {padding: 5px 10px 55px 0;}  
    .product_view .vertical_carousel {padding: 55px 0px 55px 0;}
    .bx-wrapper .bx-controls-direction a {left: 2%;}         
    .product_view .banner_product {padding-left: 0;}    
         
    /* Header version 3 search static top banner */ 
    .header_three .static_top_banner {font-size: 10px;}
    .header_three .static_top_banner {padding: 10px 10px 0px 10px;}
    .header_three .static_top_banner .your_tell { padding: 10px 15px 10px 25px;  background: url(../images/your_tell.png) no-repeat center left;min-height: 56px;}
    .header_three .static_top_banner .little { padding: 10px 15px 10px 45px; background: url(../images/little.png) no-repeat 20px 13px; min-height: 56px;}
    .header_three .static_top_banner .return { padding: 10px 0px 10px 45px; background: url(../images/return.png) no-repeat 20px 16px; min-height: 56px;}
    .header_three .header_center {margin-bottom: 0!important; padding-bottom: 0px;}
    .header_three .header_top .top_links .links{ text-align: center; }
    .header_three .block-cart-header {margin-bottom: 10px;}
    .header_three .header_center .form-search {margin-top: 45px;}
    .header_three .featured_cat_left_title a {padding: 0px!important;}
    
    /* Wishlist page */ 
    .button {padding: 10px;}
    input, select, textarea, button {font-size: 12px!important;}    
    .my_wishlist .wishlist_column_two {padding: 0 20px;} 
    
    /* Home banner animated */   
    .hs-wrapper{ height: 235px;}
    .hs-overlay span {width: 82%; top:95px; margin: 0px 0px 0px 15px; font-size: 18px; padding: 5px;}
       
    /* Left column */ 
    .left_column .homeproduct {display: none;} 
    
    /* Social */
    .footer_center .social em {line-height: 26px;width: 26px;height: 26px;font-size: 15px;}
    .footer_center .social a {margin-right: 5px; width: 26px;}   
    
    /* Banner v2  */
    .banner_v_two .banner { margin-bottom: 30px!important; } 
    .banner_v_two .banner_image {width: 275px; margin: 0 auto;}
    .banner_v_two .banner_hover {padding: 10px;   width:  275px; height: 101%;  }
    .banner_v_two .banner_hover_text {font-size: 14px;}
    .banner_v_two .banner_hover_title {font-size: 26px;} 
    .banner_v_two .banner {width: 275px;} 
    .banner_v_two .banner:nth-child(2)  {float: right;}  
      
}


@media (min-width: 767px) and (max-width: 991px){  
    .test:after  { content: '(min-width: 767px) and (max-width: 991px)';}   
    .boxed .page_wrapper { width:750px; }
    
    /*  Blog */ 
    .postTitle h2 {float: none; display: block; }
    .postTitle h3 {float: none; display: block; margin-top: 20px; }
    .postTitle {height: auto;}
    
    /*  Other */ 
    .header_three .header_center .logo {margin: 40px auto; float: none; text-align: center;} 
    .header_three .minicart .button-show {padding: 0;} 
    .actions a {padding: 10px; font-size: 12px!important;}
    .flexnav.show {margin-top: 0;border-top: 4px solid #EF7979;} 
    .header_one .currency .label , .header_one .language .label {display: none;}
    body {font-size: 12px;}
    h4, .left_column .block-title, .product_slider_title {font-size:16px;}
    h1 {font-size: 24px;}
    .header_three .left .label {display: none;}
    .block-wishlist .product-details {width: 115px;}   
    .category-products .products_list_two .item .name {font-size: 14px;line-height: 1.3;}
    .category-products .products_list_two .item .ribbon-new {padding: 0;font-size: 10px;width: 30px;  left: 0; margin: 0px 0 0 0px;}
    .category-products .products_list_two .item .ribbon-sale  {padding: 0;font-size: 10px;width: 30px; right: 0; margin: 0px 0 0 0px;}
    .category-products .products_list_two .item .images {padding: 0;}
    .price-box {height: 41px;} 
    .homeproducts .name  {line-height: 1.2; font-size: 14px;}
    .two_column .right_column .owl-carousel .owl-wrapper-outer { min-height:360px!important;} 

    /*  Header version 1 */ 
    .header_one .header_center .form-search input.input-text {width: 76%;}
    .header_one .header_center .form-search {width: 76%; } 
    .header_one .header_center {margin-bottom: 25px;}     

    /*  Header version 2 */ 
    .header_two .header_center .form-search input.input-text {width: 76%;}
    .header_two .header_center .form-search {width: 76%; } 
    .header_two .header_center {margin-bottom: 25px;}   
    .header_two .navigation {margin: 0;}
    
    /*  Header version 3 */ 
    .header_three .header_center .form-search input.input-text {width: 76%;}
    .header_three .header_center .form-search {width: 100%; } 
    .header_three .header_center {margin-bottom: 25px; }     
    
    /* Slider */ 
    .infoBlock {top: 50px;max-width: 260px;}
    .large_title {font-size: 18px;}
    .large_text {font-size: 14px;}
    .royalSlider .more {padding: 5px 15px;} 
    #owl-slider .owl-buttons {  top: 38%;}
    
    /* Banner */ 
    .banner_hover { width: 233px;padding: 0px 10px 10px 10px; height: auto;}
    .banner { width: 233px; margin-right: 15px;}
    .banner_last {margin-right: 0; width: 223px;} 
    .banner_hover_title {font-size: 20px;  margin: 0;}
    .banner_hover_text {font-size: 11px;}
    .banner_title {font-size: 20px; padding: 5px 0 5px 0;}
    .banner_text  {font-size: 11px;}
    .banner_hover a {margin: 3px auto 0px auto; width: 25px;height: 25px;background: #FFF url(../images/holder_right.png) no-repeat 10px 6px;}    
    .banner_hover a:hover {background: #EF7979 url(../images/holder_right.png) no-repeat 10px -42px;}

    /* Banner v3  */
    .banner_v_three_row { } 
    .banner_v_three_text_two_text , .banner_v_three_row_a , .banner_v_three_text_a span{font-size: 16px;} 
    .banner_v_three_text_two_text_text {font-size: 12px;}
    .banner_v_three_text_two_text span { font-size: 14px; }
    .banner_v_three_text_two_text_text {margin-top: 0;}
    .banner_v_three_text_two {padding: 10px;}
    .banner_v_three_text_two_text {padding-right: 10px;}
    
    /* Left column */ 
    .left_column .homeproduct {display: none;}    
   
    /*  Category Toolbar */
    .category-products .toolbar .sorter .sort-by {margin-right: 10px;}
    .category-products .toolbar .sorter .sort-by .direction {margin-left: 5px;}
    .category-products .toolbar label {margin-right: 10px;}
    
    /* Product page */ 
    .product_view #reviews .form_list textarea  { width: 50%;}     
    .product_view .banner_product {padding-left: 10px;}
    
    /* Product page version 1 */  
    .product_page_one .product_image #images .owl-buttons { top: 9%;  }
    .product_page_one .product_details .addtocont {text-align: left;}     
    .product_page_one .product_details .product-options-bottom a {margin-left: 0;  margin-right: 5px;}
    .product_page_one .product_details .product-options-bottom .add_to_links {text-align: left;margin-top: 15px;padding-top: 25px;margin-top: 30px;border-top: 1px solid #EAEAEA;}
    .product_page_one .product_details .special-price {margin-left: 0;}    
    .product_page_one .product_banner {padding-left: 20px;}
    .product_page_one .product_details {padding: 0 20px!important;}

    /* Product page version 4 */       
    .product_page_four .product_details .product-options-bottom a {margin-left: 0;  margin-right: 5px;}
    .product_page_four .product_details .product-options-bottom .add_to_links {text-align: left;margin-top: 15px;padding-top: 25px;margin-top: 30px;border-top: 1px solid #EAEAEA;}
    .product_page_four .product_details .special-price {margin-left: 0;}    
    .product_page_four .product_banner {padding-left: 20px;}
    .product_page_four .product_details {padding: 0 20px 0 20px!important;}    
    .product_page_four .product_image #images .owl-buttons { top: 9%;  }
    .product_page_four .product_details .addtocont {text-align: left;}    
    .product_page_four .product_image .image {padding-right:10px;}  
    .product_view .vertical_carousel {padding: 55px 0px 55px 0;}
    .bx-wrapper .bx-controls-direction a {left: 2%;}
    
    /* Product page version 3 */ 
    .product_details_three .product_details .product-options-bottom .add_to_links {text-align: left; margin-top: 15px;padding-top: 25px;margin-top: 30px;border-top: 1px solid #EAEAEA; }  
 
     /* Flickr */ 
    .footer_link .stream a img {width: 50px;}
    .footer_link .stream {text-align: center;}       
    
    /* Cart page */   
    .cart .item-product-edit a { padding:30px 0px 10px 0px; }
    .cart .item-product-price .cart-price { padding:30px 0px 10px 0px; }
    .cart .item-product-delete a {  margin-top: 20px}
    .cart .item-product-qty input { margin: 27px auto 0 auto;}
    .cart .item-product-totals .cart-price {display: block;  padding:30px 10px 10px 10px;}
    .cart .use-ajax {padding-top: 5px; display: block;}   
    .cart .item-product-img {width: 13%;}
      
    /* Footer */
    .footer_center #newsletter {width: 82%;} 
    .footer_link .link {text-align: center;}
    .footer_link .link a {text-align: left;}
    .footer h4 {font-size: 16px; margin-top: 40px; text-align: center;} 
    .footer_link #first {float: left;}
    .footer_link {padding: 0 0 40px 0;}
    .footer_link #last {float: right;}
    .footer_top {}     
    .footer_bootom {text-align: center;}
    .footer_bootom_left .links li a {font-size: 14px;}
    .footer_bootom_right {font-size: 14px; margin-top: 10px; text-align: center;} 
    .footer_center .newsletter_two #newsletter  {width: 69%;}
    .footer_center .payment li { margin-right:5px; margin-top: 15px;} 
    .footer h4 { margin-top: 20px; text-align: left; }
    .footer_link .link  {margin-bottom: 20px;}
    .footer .two {font-size: 11px;}
    .footer .two h4 {margin-bottom: 15px;margin-top: 0;}
    .footer .newsletter_two h4 {margin-bottom: 20px;margin-top:20px;}
    .footer_link_two h4 {margin-bottom: 15px;margin-top: 0;}
    .footer_link_two .linkship a {font-size: 12px;} 
    .footer_center .footer_center_newsletter {margin-top: 15px;} 
    .footer_center .social a {margin-right: 3px; } 
    .footer_center .social {margin-top: 5px;}  
    .footer_center, .footer_link {padding-bottom: 20px; font-size: 12px;}    
    
    /* Wishlist page */ 
    .my_wishlist .wishlist_column_two {padding: 0 15px;}    
    
    /* Grid */
    .category-products .cols-2 .item:nth-child(2n+1) {clear: both; } 
    .category-products .cols-4 .item:nth-child(2n+1) {clear: both; }  
    .category-products .cols-3 .item:nth-child(3n+1) {clear: both; } 
    
    /* List */
    .category-products .products_list .item:nth-child(2n+1) {clear: both; } 
    .category-products .products_list_two .item .add-to-links { margin-left: 0;}
    
}
  
  
@media (max-width: 767px) {
    .test:after  { content: '(max-width: 767px)';}  
    body {font-size: 12px;} 
    .boxed .page-wrapper {max-width: 100%;}
    
    /*  Blog */ 
    .postTitle h2 {float: none; display: block; }
    .postTitle h3 {float: none; display: block; margin-top: 20px; }
    .postTitle {height: auto;}  
    .block-cart-header #header-items {right: 28%;} 
    .product_page_four .product_image .image {padding: 0; background: none;}
    .product_view .banner_product {padding-left: 10px; padding-right: 10px;}
    .product_page_four .product_details .product-options-bottom .add_to_links {text-align: left;margin-top: 15px;padding-top: 25px;margin-top: 30px;border-top: 1px solid #EAEAEA;}
    .shop_by {text-align: left;}
    .block-reorder {text-align: left;}
    .header_three .header_center .logo {margin: 40px auto; float: none; text-align: center;} 
    
    /* Product page  */ 
    .product_details_three .product_details .product-options-bottom .add_to_links {text-align: left; margin-top: 15px;padding-top: 25px;margin-top: 30px;border-top: 1px solid #EAEAEA; }
    .product_page_one .product_details .product-options-bottom .add_to_links {text-align: left;margin-top: 15px;padding-top: 25px;margin-top: 30px;border-top: 1px solid #EAEAEA;}
    .product_page_four .product_details .product-options-bottom .add_to_links {text-align: left;margin-top: 15px;padding-top: 25px;margin-top: 30px;border-top: 1px solid #EAEAEA;} 
    .product_page_four .xs_visible {display: none;}
    .product_page_four .xs_hidden {display: block;}
    .product_page_four .vertical_carousel_xs {padding: 0 30px;}
    .product_page_four .vertical_carousel_xs img {margin-bottom: 20px;width: 100%;}
    
     /* About Us */
    .about_us {text-align: center;}        
    .about_us .about_us_text ul li {background: none; padding: 0;}
    .about_us_text_vn {margin-bottom: 30px;}
    .about_us .about_us_image div {padding: 0; margin-bottom: 15px;}
    
    /* Home banner animated */   
    .hs-wrapper{ width: 262px; height: 393px;} 
    .minicart:hover .block-cart-header #header-items {display: none;} 
    
     /* Header version 3 search static top banner */ 
    .header_three .static_top_banner {font-size: 10px;}
    .header_three .static_top_banner {padding: 10px 10px 0px 10px;}
    .header_three .static_top_banner .your_tell { padding: 10px 15px 10px 25px;  background: url(../images/your_tell.png) no-repeat center left;min-height: 56px;}
    .header_three .static_top_banner .little { padding: 10px 15px 10px 45px; background: url(../images/little.png) no-repeat 20px 13px;min-height: 56px; }
    .header_three .static_top_banner .return { padding: 10px 0px 10px 45px; background: url(../images/return.png) no-repeat 20px 16px;min-height: 56px; }
    .header_three .header_center {margin-bottom: 0!important;}
    .header_three .block-cart-header {margin-bottom: 10px;}
    .header_three .header_top .top_links .links {margin: 10px 0px 0px 0px;}
    .header_three .currency {text-align: right;}
    .header_three .block-cart-header {text-align: center; margin-top: 15px;}
    .header_three .minicart .button-show a {background: none;padding: 0px 0px 0px 5px;}
    .header_three .header_top .top_links  {clear: both;}  
    
     /*  Header version 1 */ 
    .header_one .header_top .welcome-msg   {display: inline-block;text-align: center!important;float: none;}
    .header_one .header_top .right {text-align: center!important; }
    .header_one .header_top {margin-bottom: 15px;}
    .header_one .header_center .logo {  margin-top: 0; text-align: center!important; }
    .header_one .header_top .top_links .links {text-align: center;}
    .header_one .header_center .header_right {text-align: center!important; margin-top: 15px; }
    .header_one .header_center .form-search {width: 100%;}
    .header_one .header_center .form-search input.input-text {width:82%;} 
    .header_one .header_center .header_right .links_xs {text-align: center;}
    .header_one .header_center .header_right .links_xs #account_icon {margin-left: 0;}
    .header_one .header_center {margin-bottom: 5px;}
    .header_one .header_top .welcome-msg {margin-bottom: 0;}     
     
     /*  Header version 2 */ 
    .header_two .header_top .welcome-msg   {display: inline-block;text-align: center!important;float: none;}
    .header_two .header_top .right {text-align: center!important; }
    .header_two .header_top {margin-bottom: 15px;}
    .header_two .header_center .logo {text-align: center!important; }
    .header_two .header_center .header_right { text-align: center!important; margin-top: 15px; }
    .header_two .header_center .form-search {width: 100%;}
    .header_two .header_top .top_links .links {text-align: center; }
    .header_two .header_center .form-search input.input-text {width:82%;} 
    .header_two .header_center .header_right .links_xs {text-align: center;}
    .header_two .header_center .header_right .links_xs #account_icon {margin-left: 0;}
    .header_two .header_center {margin-bottom: 5px;}
    .header_two .header_top .welcome-msg {margin-bottom: 0;}   
    
     /*  Header version 3 */ 
    .header_three .header_top .welcome-msg   {display: inline-block;text-align: center!important;float: none;}
    .header_three .header_top .right {text-align: center!important; }
    .header_three .header_top {margin-bottom: 15px;}
    .header_three .header_center .logo {   margin: 30px 0  20px 0; text-align: center!important; }
    .header_three .header_center .header_right { text-align: center!important; margin-top: 15px; }
    .header_three .header_center .form-search {height: 37px; background: white; border: 1px solid #EAEAEA; width:  100%;margin-top: 18px;}
    .header_three .header_center .form-search input.input-text { display: block; float: left;width:82%;border-color: #E3E3E3;color: #CCC;border: 0;padding: 5px 0 5px 8px; height: 100%;}
    .header_three .header_center .form-search .buttons {float:right;border: 0px solid #EAEAEA;text-indent: -99999px;background-color: #FFF;background-image: url(../images/search_icon.png)!important;background-position: center 9px;background-repeat: no-repeat;padding: 2px 15px;width: 40px;height: 100%;}
    .header_three .header_center .form-search .buttons:hover {  background-position: center -55px; background-color: #EF7979;} 
    .header_three .flexnav {margin-top: 0;} 
    .header_three .header_center .header_right .links_xs {text-align: center;}
    .header_three .header_center .header_right .links_xs #account_icon {margin-left: 0;}
    .header_three .header_center {margin-bottom: 5px;}
    .header_three .header_top .welcome-msg {margin-bottom: 0;}   

    /* Header version 3 search static top banner */ 
    .header_three .static_top_banner  {text-transform: uppercase; color: #808080; font-size: 12px; padding: 10px 20px  0px 20px;}
    .header_three .static_top_banner .your_tell { padding: 10px 15px 10px 30px;  background: url(../images/your_tell.png) no-repeat center left;min-height: 30px;}
    .header_three .static_top_banner .little { padding: 10px 15px 10px 30px; background: url(../images/little.png) no-repeat center left; border-left: none;min-height: 30px;}
    .header_three .static_top_banner .return { padding: 10px 0px 10px 30px; background: url(../images/return.png) no-repeat center left;  border-left: none;min-height: 30px;}

    /* Col3-layout */ 
    .columns3 .col3-layout .col_main {padding-right: 0px; padding-left: 0px;} 
    
    /* Flickr */ 
    .footer_link .stream a:nth-child(4n+4) {margin-right: 7px;}
    .footer_link .stream a img {width: 78px;}
    .two_column {text-align: center;}
    .left_column {padding-right: 0;margin-top: 30px;} 
    .right_column {text-align: center; } 
    .right_column .col-right dt {background: none; padding: 0;}
     
    /* Banner v2  */
    .banner_v_two .banner { margin-bottom: 30px!important; } 
    .banner_v_two .banner_image {width: 275px; margin: 0 auto;}
    .banner_v_two .banner_hover {padding: 10px;   width:  275px; height: 101%;  }
    .banner_v_two .banner_hover_text {font-size: 14px;}
    .banner_v_two .banner_hover_title {font-size: 26px;} 
    .banner_v_two .banner {width: 275px;} 
    .banner_v_two .banner:nth-child(2)  {float: right;}  
     
    /* Banner v3  */
    .banner_v_three_row {  width: 370px;  margin: 15px auto!important; float: none;}  
     
    /* Customer Account */  
    .box_account .link_reorder {float: none;}    
    .account .accountcol .accountcol_h , .account .accountcol {padding: 0;}    
      
    /* Account Review */ 
    .account_review .account_review_view_details {text-align: center; margin-top: 15px;}
    .account_review_rating_box  .rating-box {margin: 0px auto 15px auto;}
    
    /* Wishlist page */
    .my_wishlist  input, select, textarea, button { display: block;}       
    .my_wishlist .wishlist_cart .qty {margin: 0 auto;}
    .my_wishlist textarea {font-size: 13px!important; margin-bottom: 10px;}
    .my_wishlist .wishlist_remove {text-align: center;}
    .my_wishlist .wishlist_column_two {padding: 0;}
    
    /* Other */ 
    .limiter input, select, textarea, button {display: inline-block!important;} 
    .categories li , .selecter .selecter-selected {text-align: left;}
    
    /* Checkout */
    .block .block-title strong span {margin-top: 30px;}    
       
     /* Slider */ 
    .large_title {font-size: 16px;}
    .large_title{padding-bottom:30px;}
    .large_text {font-size: 12px;} 
    #owl-slider .owl-buttons {  top: 38%;}
    
     /* Banner */ 
    .banner_hover { width: 370px; height: 100%;}
    .banner_image {width: 370px; margin: 0 auto;}
    .banner { width: 100%; margin-right: 0px;}
    .banner_last {  width:  100%;} 
    .banner_hover_text {font-size: 14px;}

    /* Account login */
    .account-login .new-users , .account-login .registered-users {padding: 0;} 
    
    /* Create account */
    .account_create {text-align: center;}
    .account_create .account_create_col1 { padding-right: 0px;}
    .account_create .account_create_col2 { padding-left: 0px;}
    .account_create .buttons_set .button {float: none; margin: 20px 0;}
    
    /* Cart page */   
    .cart .item-product-name a {font-size: 14px!important;}
    .cart .item-product-img, .cart .item-product-edit {display: none;}
    .cart td { padding:20px 10px 20px 10px!important; } 
    .cart .item-product-name .nobr { padding-left: 10px;} 
    .cart .item-product-name { padding-left: 0px; border-left: none!important;  } 
    .cart .item-product-edit a { padding:5px 0px 10px 0px; }
    .cart .item-product-price .cart-price { padding:5px 0px 10px 0px; }
    .cart .item-product-delete a {  margin-top: 0px}
    .cart .item-product-qty input { margin: 0px auto 0 auto;}
    .cart .use-ajax {padding-top: 5px;display: block;}
    .cart .item-product-totals .cart-price {display: block;  padding:5px 10px 10px 10px;} 
    .cart .cart-collaterals .discount , .cart .cart-collaterals .tax {padding: 0;}
    .cart .cart-collaterals .discount, 
    .cart .cart-collaterals .tax, 
    .cart .cart-collaterals .checkout_total  { text-align: center; }
    .cart .cart-collaterals .button  {float: none!important; margin-bottom: 30px;}
    .cart .a-right .btn-continue .button {float: none!important; margin-bottom: 30px; margin-right: 0;}
    .cart tfoot .a-right {text-align: center;}
     
    /* Footer */
    .footer_center .about_our_shop {padding-right: 0px; margin-bottom: 40px;}
    .footer_center .newsletter {padding-left: 0px;  } 
    .footer_link .link {text-align: center;}
    .footer_link .link a {text-align: center; background: none; padding-left: 0;}
    .footer h4 {font-size: 18px; margin-top: 40px; text-align: center;} 
    .footer_link #first {float: left;}
    .footer_link {padding: 0 0 40px 0;}
    .footer_link #last {float: right;}
    .footer_bootom {text-align: center;}
    .footer_bootom_right {text-align: center; margin-top: 10px;}
    .footer_bootom_left .links li a {font-size: 14px;}
    .footer_bootom_right {font-size: 14px;} 
    .footer_center .about_our_shop {margin-bottom: 20px;}
    .footer h4 {margin-top: 20px;}
    .block-banner {text-align: center;}
    .block-bestsellers {text-align: center;}
    .block-bestsellers .homeproducts {width: 270px; }
     
     /* other */
    #etalage  {display: none!important;}
    #gallery_01  {display: block!important;}  
    .product-version-widelarge .prev_next { top: -70px;  width: 100%;}
    .product-version-wide .prev_next { top: -70px;  width: 100%;}
    .product-version-default .prev_next { top: -70px;  width: 100%;}
    .product-version-vertical .prev_next { top: -70px;  width: 100%;}  
    .category-products .products_list_two .item .images , .category-products .products_list_two .item .imghover {padding: 0;}
    
    /* ajax-popup add to cart */
    .result-text { padding-left: 0px; }
    #ajax-popup {text-align: center;}   
    .white-popup .continue { margin-bottom: 15px;} 
    .category-products .products-grid .item .add-to-links { display: none!important;}
    .category-products .products-grid .item .mobile {width: 100%; text-align: center; position: relative; left: 0; top: 0; bottom: 0; margin: 10px 0; display: block!important;}
    #configurable_swatch_color ,.moreinfocat .configurable-swatch-color {display: inline-block ; margin: 10px auto; text-align: center;}{text-align: center;margin: 10px auto;}
    
    /* Sizeguide */ 
    .popup {top: 10%; width: 90%;}
}

 

@media (min-width: 480px) and (max-width: 767px) {
    .test:after  { content: '(min-width: 480px) and (max-width: 767px)';} 
    
    /* Other */ 
    .block-wishlist .product-details {width: 69%;}
    .footer_light .footer_link_two .linkship a {background: none;}
    #back-top {display: none!important;}  
    .minicart:hover .block-cart-header #header-items {display: none;} 
    .minicart:hover .button-show {border: 1px solid #EEE;}   
    .wishlist-index-index .buttons-set button {margin-right: 10px; margin-left: 10px;} 
    .checkout-cart-index .cart .a-right  button {margin-right: 10px; margin-left: 10px; margin-bottom: 20px;} 
    .checkout-onepage-index h3 { font-size: 18px;}
    .checkout-onepage-index h1 { font-size: 22px;} 
    .product_slider_title {padding-left: 0;}
    
    /* Product page */ 
    .product_view #tags .input_box { width: 50%;} 
    .product_view #reviews .form_list textarea  { width: 75%;} 
    .product_view .look_plus_item  {padding:0 10px;}
    .product_view .look_plus {margin-top: 20px;} 
    .product_view .banner_product {padding: 15px;}
    .product_view .product_banner {text-align: center;  }  
    .product_view .product_details .product-options-bottom .add_to_links {text-align: center; margin-bottom: 30px;}
    
    /* Product page version 1 */       
    .product_page_one .product_image .image img {width: 100%;}
    .product_page_one .product_image #images .owl-buttons { top: 46%;}     
    .product_page_one .product_details .product-options-bottom a {margin-left: 0;  margin-right: 5px;}
    .product_page_one .product_details .product-options-bottom .add_to_links {text-align: left; margin-top: 20px;}
    .product_page_one .product_details .special-price {margin-left: 0;}    
    .product_page_one .product_details .addtocont {text-align: left;}
    .product_page_one .product_details .product_price_and_availability { margin: 10px 0 10px 0; } 
    .product_page_one .product_banner {padding-left: 0px;}
    .product_page_one .product_details {padding: 0 20px!important; border: none;}
    .product_page_one .product_banner > img { margin-bottom: 0px;margin-right: 10px; margin-left: 10px; }
    
    /* Product page version 4 */       
    .product_page_four .product_image .image img {width: 100%;}
    .product_page_four .product_image #images .owl-buttons { top: 46%;}     
    .product_page_four .product_details .product-options-bottom a {margin-left: 0;  margin-right: 5px;}
    .product_page_four .product_details .product-options-bottom .add_to_links {text-align: left; margin-top: 30px; text-align: center;}
    .product_page_four .product_details .special-price {margin-left: 0;}    
    .product_page_four .product_details .addtocont {text-align: left;}
    .product_page_four .product_details .product_price_and_availability { margin: 10px 0 10px 0; } 
    .product_page_four .product_banner {padding-left: 0px;}
    .product_page_four .product_details {padding: 0 20px!important; border: none;}
    .product_page_four .product_banner > img { margin-bottom: 0px;margin-right: 10px; margin-left: 10px; }    
    .product_page_four .product_image #images {margin-top: 30px;}
     
     /* Product page version 3 */ 
     .product_details_three .product_details .addtocont {text-align: left;}
     
    /* Products Grid */
    .category-products .products-grid .item img {width: 100%;} 
    .category-products .products-grid .item_products {margin: 15px 30px 15px 30px;  }
     
    /* Products List Two */
    .category-products .products_list_two .item { text-align: center;} 
    .category-products .products_list_two .item .ratings {margin: 5px auto 10px auto;}
    .category-products .products_list_two .item_products {margin: 15px 30px 15px 30px;  }
    .category-products .products_list_two .item  img {width: 100%; }
    .category-products .cols-3 .item:nth-child(2n+1) {clear: both; }  
    
     /* Products List */
    .category-products .products_list .item { text-align: center;} 
    .category-products .products_list .item .ratings {margin: 5px auto 10px auto;}
    .category-products .products_list .item_products {margin: 15px 30px 15px 30px;  }
    .category-products .products_list .item  img {width: 100%; }   
    .category-products .products_list .item .btn-cart {float: none;}
    .category-products .products_list .item .add-to-links {float: none; margin-left: 0; margin-top: 15px;}
     
     /* Header version 1 */ 
    .header_one .header_center .form-search input.input-text {width:90%;} 
    .header_one .header_top .welcome-msg {margin-bottom: 0;}    
    .header_one .header_center .header_right .minicart .button-show a {padding: 0px 0px 0px 5px;background: none;display: inline-block;}
    
    /*  Header version 2 */ 
    .header_two .header_center .form-search input.input-text {width:90%;} 
    .header_two .header_top .welcome-msg {margin-bottom: 0;}    
    .header_two .header_center .header_right .minicart .button-show a {padding: 0px 0px 0px 5px;background: none;display: inline-block;}
       
    /*  Header version 3 */ 
    .header_three .header_center .form-search input.input-text {width:90%;} 
    .header_three .header_top .welcome-msg {margin-bottom: 0;}    
    .header_three .header_center .header_right .minicart .button-show a {padding: 0px 0px 0px 5px;background: none;display: inline-block;}
    .header_three .header_center {border: none;}     
       
     /* Slider */ 
    .large_title {font-size: 14px;}
    .large_title{padding-bottom:0px; background: none;background-image: none!important;}
    .large_text {font-size: 12px;}
    .infoBlock { max-width: 200px;top: 30px;left: 75px; padding: 5px; background: rgba(255, 255, 255, 0.54);} 
    .large_text {margin: 5px 0;}
    .royalSlider .more {padding: 5px 15px; font-size: 12px;}  
    .owl-carousel {padding: 0 30px;} 
    #owl-slider  { padding: 0;} 
    #owl-slider .more {color: #404040; font-size: 12px; text-align: center; padding: 2px 5px 2px 5px;border: 1px solid #ABABAB;display:inline-block; text-decoration: none;	}       
    #owl-slider .owl-buttons .owl-prev {  width: 30px;  height: 65px;}
    #owl-slider .owl-buttons .owl-next {  width: 30px;  height: 65px;}
    
     /* Footer */ 
    .footer_link_two .linkship a {text-align: center; padding-left: 0; background: none;}
    .footer {text-align: center;}

    /* Breadcrumbs */
    .breadcrumbs {text-align: center; margin-bottom: 0;}
    
    /* Prev, Next Product */ 
    .prev_next {position: relative; top: 0;text-align: center; margin-bottom: 15px;}
    .product-version-widelarge .prev_next { top: -65px;  width: 100%;}
    .product-version-wide .prev_next { top: -65px;  width: 100%;}
    .product-version-default .prev_next { top: -65px;  width: 100%;}
    .product-version-vertical .prev_next { top: -65px;  width: 100%;} 
    
    /* Customer Account */   
    .cart .a-center {width: 9%;}  
    
    /* Contact Form */
    .contacts_us {text-align: center;}
    .contacts_us #contact_form_input_left {padding-right: 0px;}
    .contacts_us #contact_form_input_right {padding-left: 0px;}    
    .contacts_us .contact_form  {padding-right: 0px;}  
    .contact_infofmation {margin-top: 30px;}
    .contacts_us .contacts_us_map {padding:0 15px 40px 15px;}
    .contacts_us .contact_infofmation .contact_infofmation_info ul li {background: none; padding: 0;}
    
    /* Products list two */  
    .category-products .products_list_two .item {height: auto;}
    .category-products .products_list_two .item .name {height: auto; margin-top: 15px;}
    .category-products .products_list_two .item .short_description {height: auto; }
    .category-products .products_list_two .item_products {margin: 30px;}
    .category-products .products_list .item .name {margin-top: 10px;}
    .category-products .products_list .item .images {padding-right: 0;} 
    
    /* Banner v3 */ 
    .banner_v_three_row_a {width: 370px; margin: 30px auto;}
    .banner_v_three_row_l { padding-right: 0px; padding-top: 0px; } 
    .banner_v_three_row_c { padding-left: 0px; padding-right: 0px;  padding-top: 0px;} 
    .banner_v_three_row_r { padding-left: 0px;  padding-top: 0px;} 
    
    /* Banner v2  */ 
    .banner_v_two .banner {width: 100%;} 
    .banner_v_two .banner:nth-child(2)  {float: left;}       
    
     /* Category Toolbar */
    .category-products .toolbar .sorter {display: block; float: none;height: 70px;}
    .category-products .toolbar .pager {display: block; float: none;height: 30px; margin-top: 10px;}    
    .category-products .toolbar .sorter .sort-by {display: block; float: none;height: 30px; margin-bottom: 0px; margin-right: 10px;} 
    .category-products .toolbar .sorter .view-mode {display: block; float: none;height: 30px; margin-top: 10px;} 
    .category-products .products-grid .item img {width: 100%;}
    .category-products .toolbar .sorter .sort-by .selecter {float: left;}
    .category-products .toolbar .sorter .sort-by .direction {float: left;}
    .category-products .products_list_two .item .btn-cart ,.category-products .products_list_two .item .add-to-links {display: block; margin: 10px 0;}

    /* Grid */ 
    .category-products .products-grid .item:nth-child(2n+1) {clear: both; } 
    .category-products .products-grid .item {width: 50%; display: inline-block; } 
    .category-products .products-grid .item .add-to-links { display: none!important;}
    .category-products .products-grid .item .mobile {width: 100%; text-align: center; position: relative; left: 0; top: 0; bottom: 0; margin: 10px 0; display: block!important;}   
    
    /* List */
    .category-products .products_list .item:nth-child(2n+1) {clear: both; }     
    .category-products .products_list .item , .category-products .products_list_two .item {width: 50%;  display: inline-block; } 
    
    /* Sizeguide */ 
    .popup {top: 10%; width: 90%;}    
}
 
 
@media (max-width: 480px) {  
    .test:after  { content: '(max-width: 480px))';} 
    
    /* Other */
    .button {padding: 5px 15px;}
    .opc .buttons-set a {margin-right: 0; margin-bottom: 5px;} 
    .opc .section .step-title h2 {font-size: 14px;} 
    .wishlist-index-index .buttons-set button {margin-right: auto; margin-bottom: 15px; margin-left: auto; display: block!important;}
    .checkout-cart-index .cart .a-right  button {margin-right: auto; margin-bottom: 15px; margin-left: auto; display: block!important;}
    h1  { font-size:22px; }
    h2  { font-size:20px; }
    h3  { font-size:18px; }
    h4  { font-size:14px; }
    h5  { font-size:14px; }
    h6  { font-size:14px; } 
        
    /*  Banner v2  */ 
    .banner_v_two .banner {width: 100%;} 
    .banner_v_two .banner:nth-child(2)  {float: none;}  
         
    /* Blog */
    .blog-index-list .toolbar .sorter  {float: left; display: block; margin-bottom: 20px;}
    .blog-index-list .toolbar .pager {float: left; display: block;} 
    .two_column .right_column .owl-carousel .owl-wrapper-outer { min-height:0!important;}
    .one_column .owl-carousel .owl-wrapper-outer{min-height: 0px!important;}
    .header_one .header_center .header_right .links li {padding: 1px 6px 1px 2px;}
    
    /*  Banner v3  */
    .banner_v_three_row {  width: 100%;  margin: 15px auto!important; float: none;}      

    /* Product page */ 
    .product_view #tags .input_box {  width: 100%; float: none; margin-bottom: 20px;}     
    .product_view #reviews .form_list textarea  { width: 75%;} 
    .product_view .look_plus_item  {padding:0 7px;}
    .product_view .look_plus {margin-top: 20px;}
    .product_view .product_details .product-options-bottom .add_to_links {text-align: center; margin-bottom: 30px;}
    
    /* Product page version 1 */       
    .product_page_one .product_image #images .owl-buttons { top: 46%;}      
    .product_page_one .product_details .product-options-bottom a {margin-left: 0;  margin-right: 5px;}
    .product_page_one .product_details .product-options-bottom .add_to_links {text-align: center; margin-top: 20px;}
    .product_page_one .product_details .special-price {margin-left: 0;}    
    .product_page_one .product_banner {padding:0;}
    .product_page_one .product_details {padding: 0 ; text-align: center; border: none;}  
    .product_page_one .product_banner > img { margin-bottom: 0px; margin-right: 10px; margin-left: 10px; }   
    .product_page_one .product_details .addtocont {text-align: center;}
    .product_page_one .product-options-bottom {margin-top: 20px;}
    .product_page_one .product_details .product_price_and_availability {margin: 0px 0 10px 0;}
    
    /* Product page version 4 */       
    .product_page_four .product_image #images .owl-buttons { top: 46%;}      
    .product_page_four .product_details .product-options-bottom a {margin-left: 0;  margin-right: 5px;}
    .product_page_four .product_details .product-options-bottom .add_to_links {margin-top: 20px;}
    .product_page_four .product_details .special-price {margin-left: 0;}    
    .product_page_four .product_banner {padding:0;}
    .product_page_four .product_details {padding: 0 20px!important;border: none;} 
    .product_page_four .product_banner > img { margin-bottom: 0px; margin-right: 10px; margin-left: 10px; }   
    .product_page_four .product_details .addtocont {text-align: left;} 
    .product_page_four .product_image #images {margin-top: 30px;}
    
    /* Category Toolbar */
    .category-products .toolbar .sorter {display: block; float: none;height: 70px;}
    .category-products .toolbar .pager {display: block; float: none;height: 30px; margin-top: 10px;}    
    .category-products .toolbar .sorter .sort-by {display: block; float: none;height: 30px; margin-bottom: 0px; margin-right: 10px;} 
    .category-products .toolbar .sorter .view-mode {display: block; float: none;height: 30px; margin-top: 10px;} 
    .category-products .products-grid .item img {width: 100%;}
    .category-products .toolbar .sorter .sort-by .selecter {float: left;}
    .category-products .toolbar .sorter .sort-by .direction {float: left;}
   
    /*  Header version 1 */ 
    .header_one .header_center .form-search input.input-text {width: 85%;}
    .header_one .header_center .header_right .links_xs {text-align: center;} 
    .header_one .header_center {margin-bottom: 5px;}
    .header_one .header_top .welcome-msg {margin-bottom: 0;}
    .header_one .header_center .header_right .minicart .button-show a {padding: 0px 0px 0px 5px;background: none;display: inline-block;}
    
    /*  Header version 2 */ 
    .header_two .header_center .form-search input.input-text {width: 85%;}
    .header_two .header_center .header_right .links_xs {text-align: center;} 
    .header_two .header_center {margin-bottom: 5px;}
    .header_two .header_top .welcome-msg {margin-bottom: 0;}
    .header_two .header_center .header_right .minicart .button-show a {padding: 0px 0px 0px 5px;background: none;display: inline-block;}
        
    /*  Header version 3 */ 
    .header_three .header_center .form-search input.input-text {width: 85%;}
    .header_three .header_center .header_right .links_xs {text-align: center;} 
    .header_three .header_center {margin-bottom: 5px;}
    .header_three .header_top .welcome-msg {margin-bottom: 0;}
    .header_three .header_center .header_right .minicart .button-show a {padding: 0px 0px 0px 5px;background: none;display: inline-block;}
    .header_three .header_center {border: none;}          
        
     /* Slider */
    .owl-carousel {padding: 0 0px;} 
    .large_text {display: none;}
    .infoBlock {top:  30px; left: auto; width: 100%; text-align: center; padding: 10px;}
     #owl-slider .more {color: #404040; font-size: 12px; text-align: center; padding: 2px 5px 2px 5px;border: 1px solid #ABABAB;display:inline-block; text-decoration: none;	}       
     .large_title {padding-bottom: 10px;}  
        
     /* Banner */ 
    .banner_hover { width: 100%; height: 100%;}
    .banner_image {width: 100%; margin: 0 auto;}
    .banner { width: 100%; margin-right: 0px;}
    .banner_last {margin-right: 0; width: 100%;} 
    .banner_hover_text {font-size: 12px;} 
    .banner_hover_title {margin: 0;font-size: 18px;}
    .banner_hover a {width: 32px; height: 32px; background-position: 13px 9px;}
    .banner_hover a:hover {background-position: 13px -39px;}
    .banner_v_three_row {padding-right: 0;} 
    .banner_v_three_row_a {width: 275px; margin: 30px auto;}
    .banner_v_three_row_l { padding-right: 0px; padding-top: 0px; } 
    .banner_v_three_row_c { padding-left: 0px; padding-right: 0px;  padding-top: 0px;} 
    .banner_v_three_row_r { padding-left: 0px;  padding-top: 0px;}      

     /*  Products List  */
    .category-products .products_list .item { text-align: center;} 
    .category-products .products_list .item .ratings {margin: 5px auto 10px auto;}
    .category-products .products_list .item_products {margin: 15px 30px 15px 30px;  }
    .category-products .products_list .item  img {width: 100%; }   
    .category-products .products_list .item .btn-cart {float: none;}
    .category-products .products_list .item .add-to-links {float: none; margin-left: 0; margin-top: 15px;}
    .category-products .products_list_two .item .btn-cart ,.category-products .products_list_two .item .add-to-links {display: block; margin: 10px 0;}
    
    /* Footer */ 
    .footer {text-align: center;}
    .footer h4 {font-size: 20px;}
    .footer_link .link a {font-size: 14px;}
    .footer_link .linkship, .footer_link_two .linkship {display: block;}
    .footer_link #last {float: none;}
    .footer_link #first {float: none;}
    .footer_link .link a {padding-left: 0; background: none; text-align: center;}
    .footer_link .linkship {margin-right: 0;} 
    .footer_link #twitter  {padding: 0;}
    .footer_link_two .linkship a {padding-left: 0; background: none; text-align: center;}
    .footer_link_two #first {margin: 0;}
    .footer_link_two .linkship {margin: 0;}
    .footer_center #newsletter {width: 82%;} 
    .footer_link #stream {padding: 0;}
    .block-wishlist .product-details {width: 50%;}
    .footer_center #newsletter {width: 75%;}
    #back-top {display: none!important;}
    .footer_light .footer_link_two .linkship a {background: none;}
    
    /* Breadcrumbs */
    .breadcrumbs {text-align: center; margin-bottom: 0; margin-top: 0px;}
    
    /* Prev, Next Product */ 
    .product-version-widelarge .prev_next { top: -86px;  width: 100%;}
    .product-version-wide .prev_next { top: -86px;  width: 100%;}
    .product-version-default .prev_next { top: -86px;  width: 100%;}
    .product-version-vertical .prev_next { top: -86px;  width: 100%;} 
    .prev_next {position: relative; top: 0;text-align: center; margin-bottom: 15px;}
    .main_header {padding-bottom: 0;}    
   
    /* Cart page */    
    .cart .item-product-name .nobr { padding-left: 0px;} 
    .cart .item-product-name { padding-left: 0px; }    
    .cart .item-product-price   { display: none; }
    .cart .item-product-totals { padding: 0px 5px 10px 5px; width: 7%;}  
    .cart .a-right .btn-continue {  margin-bottom: 20px; margin-right: 0;} 
    
    /* Contact Form */
    .contacts_us {text-align: center;}
    .contacts_us #contact_form_input_left {padding-right: 0px;}
    .contacts_us #contact_form_input_right {padding-left: 0px;}    
    .contacts_us .contact_form  {padding-right: 0px;}  
    .contact_infofmation {margin-top: 30px;}     
    .contacts_us .contacts_us_map {padding:0 15px 40px 15px;}
    .contacts_us .contact_infofmation .contact_infofmation_info ul li {background: none; padding: 0;}
    .contacts_us .contact_infofmation .contact_infofmation_info ul li {background: none; padding: 0;}
    
    /* Products list two */  
    .category-products .products_list_two .item {height: auto;}
    .category-products .products_list_two .item .name {height: auto; margin-top: 15px;}
    .category-products .products_list_two .item .short_description {height: auto; }
    .category-products .products_list_two .item_products {margin: 30px;} 
    .category-products .products_list .item .images {padding-right: 0;}
    .category-products .products_list .item .name {margin-top: 10px;}
    .category-products .products_list_two .item .ratings {margin: 5px auto 5px auto;} 
    .category-products .products_list_two .item {text-align: center;}
    .toolbar .sorter .sort-by {margin-right: 0;} 
    .language   {display: block; text-align: center; float: none; width: 100%;} 
    .currency  {display: block; text-align: center!important; float: none; width: 100%;}
    #configurable_swatch_color {width: 100%;}
    #configurable_swatch_size {text-align: center;}
    .danko-cart-options .product-options-bottom .add-to-cart {width: 100%;}
    .mfp-iframe-holder .mfp-content {width: 90%!important; font-size: 13px!important;}
    .danko-cart-options .product-options-bottom .price-box {padding-top: 0;}
    .danko-cart-options .required {margin: 0;}
    
    /* Slider */
    .owl-carousel {padding: 0px;} 
    #owl-slider  { padding: 0;} 
    #owl-slider .more {color: #404040; font-size: 12px; text-align: center; padding: 2px 5px 2px 5px;border: 1px solid #ABABAB;display:inline-block; text-decoration: none;	}       
    #owl-slider .owl-buttons .owl-prev {  width: 30px;  height: 65px;}
    #owl-slider .owl-buttons .owl-next {  width: 30px;  height: 65px;}
    .owl-pagination {display: none;}
    #owl-slider .owl-buttons { top: 24%; }
    #owl-slider-brand .owl-item {padding: 0;}
    
    /* Sizeguide */ 
    .popup {top: 10%; width: 90%;}
} 



@media (max-width: 320px) {  
    .test:after  { content: '(max-width: 320px))';} 
    .product_slider_title {padding-left: 0;}
    #owl-slider {display: none!important;}
    .toolbar .sorter .sort-by .direction {margin: 0;}
    .banner_hover_text {line-height: 1;}
    .header_one .header_center .form-search input.input-text {width: 80%;}
    #configurable_swatch_color {width: 100%;}
    
    /* Sizeguide */ 
    .popup {top: 10%; width: 90%;}
} 