

.continue-shopping {
 
}

.pending {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
/* Form Validation */
.validation-advice { clear:both; min-height:13px; top:35px ; position: absolute;   font-size:11px; line-height:13px;  color:#ef7979; }
 
 
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}



.mfp-iframe-scaler iframe { 
}


.products-grid .img-container {

  position: relative;

}

.products-grid .hover-hidden {
  position: absolute;
}

.products-grid .swap {

  position: absolute;
  left: 0;
  top: 0;
}
 

#nav .level0 > a span {font-size: 16px;}

.products-grid .product-name {

  color: #333;
}
 

.ratings .amount { display: none;}


/* Shrink wrap strategy 2  !!! */
.easyzoom {
    display: inline-block;
}
.easyzoom img {
    vertical-align: bottom;
}

.easyzoom-flyout { width: 380px; height: 380px; left: 400px; top: 0;}

.easyzoom-flyout img {max-width: none}



.magnifyarea img {max-width: none}