.moreinfocat .configurable-swatch-color {display: inline-block ; text-align: left;  }
.moreinfocat .configurable-swatch-color li { display: inline-block; padding: 2px; background: white; border: 1px solid #e5e5e5; margin: 5px 5px 5px 5px;}
.moreinfocat .configurable-swatch-color li:hover {border: 1px solid #ef7979;}
.moreinfocat .configurable-swatch-color .selected {border: 1px solid #ef7979;}
#configurable_swatch_color {display: inline-block ;   text-align: left; }
#configurable_swatch_color li { display: inline-block; padding: 2px; background: white; border: 1px solid #e5e5e5; margin: 0px 5px 0px 0px;}
#configurable_swatch_color li:hover {border: 1px solid #ef7979;}
#configurable_swatch_color .selected {border: 1px solid #ef7979;}
#configurable_swatch_size a:hover {text-decoration: none;}
#configurable_swatch_size li {display: inline-block ; margin: 10px 10px 0px 0px;}
#configurable_swatch_size li a {color: #808080; font-size: 12px ;text-transform: uppercase; width: 33px!important; height: 33px!important; text-align: center; display: inline-block; padding:6px 0px; background: white; border: 1px solid #e5e5e5; }
#configurable_swatch_size li a:hover {border: 1px solid #ef7979; background: #ef7979;color: white; text-decoration: none;}
#configurable_swatch_size .selected a  {border: 1px solid #ef7979; background: #ef7979;}
#configurable_swatch_size .selected .swatch-label {color: white; text-decoration: none;}
.swatch-attr .required em {position: relative;}
.by-list .configurable-swatch-list li  { display: inline-block;  width: 30%!important; } 
#configurable_swatch_size li a , #configurable_swatch_color li { position: relative;}
.swatch-link .x {width: 100%!important; height: 100%!important; display: none;text-indent: -999em;position: absolute;background: #ffffff;left: 0;right: 0;top: 0;min-height: 23px;bottom: 0;opacity: 0.8;z-index: 10;}
.configurable-swatch-list .not-available .x {display: block;}
.no-display {display: none !important;}
.product_page_one .product-options dt {margin-bottom: 0!important;}