<div class="product-options">
    <?php echo $this->getChildHtml('', true, true);?>
    <?php if ($this->hasRequiredOptions()):?>
        <div class="required_fields"><?php echo $this->__('* Required Fields') ?></div>
    <?php endif;?>
</div>
