<?php $_links = $this->getLinks(); ?>
<?php $theme = $this->helper('danko'); ?>
<?php $headerVariant = $theme->getConf('header/header_type'); ?>
<?php if(count($_links)>0): ?>
<ul class="links <?php if ($headerVariant != 3): ?>hidden-sm<?php endif?>"<?php if($this->getName()): ?> id="<?php echo $this->getName() ?>"<?php endif;?>>
    <?php foreach($_links as $_link): ?>
        <?php if ($_link instanceof Mage_Core_Block_Abstract):?>
            <?php echo $_link->toHtml() ?>
        <?php else: ?>
            <li<?php if($_link->getIsFirst()||$_link->getIsLast()): ?> class="<?php if($_link->getIsFirst()): ?>first<?php endif; ?><?php if($_link->getIsLast()): ?> last<?php endif; ?>"<?php endif; ?> <?php echo $_link->getLiParams() ?>><?php echo $_link->getBeforeText() ?><a href="<?php echo $_link->getUrl() ?>" title="<?php echo $_link->getTitle() ?>" <?php echo $_link->getAParams() ?>><?php echo $_link->getLabel() ?></a><?php echo $_link->getAfterText() ?></li>
        <?php endif;?>
    <?php endforeach; ?>
</ul>
<?php if ($headerVariant != 3): ?>
<div class="links_xs visible-sm">
    <?php foreach($_links as $_link): ?>
        <?php if ($_link->getData('css_class')) 
            $class = $_link->getData('css_class');
        else
            $class = implode("_",  explode(" ",  strtolower($_link->getTitle()))); ?>
        <a href="<?php echo $_link->getUrl() ?>" class="<?php echo $class . '_icon' ?>" title="<?php echo $_link->getTitle() ?>" <?php echo $_link->getAParams() ?>><?php echo $_link->getLabel() ?></a><?php echo $_link->getAfterText() ?>
    <?php endforeach; ?>
</div>
<?php endif ?>
<?php endif; ?>
