/*
Theme Name: Danko Documentation
Theme URI: http://owl-themes.net/
Author: OWL-Theme
Author URI: http://themeforest.net/user/owl-theme
Description: ThemeForest Premium Theme
*/
* {margin: 0;padding: 0;}
body {color: #808080;font-size: 14px;line-height: 160%;background-color: #fff; font-family: Arial, Helvetica, sans-serif;}
p, pre, blockquote, form, dl, ul, ol, fieldset, address {padding: 0;margin: 12px 0 15px 0;}
fieldset {padding: .5em;border: 1px solid #444;}
small {font-size: .85em;}
img {max-width: 100%;}
label {cursor: pointer;}
hr {height: 5px;display: block;background: #f36868;width: 50px;border: none;padding: 0; line-height: 0;margin: 10px 0 20px 0; }
strong {color: #3e3e3e; }
h1, h2, h3, h4, h5, h6 {margin: 0;color: #3e3e3e;line-height: 150%;}
h1 {color: #3e3e3e;font-size: 30px;}
h2 {color: #808080;font-size: 20px; font-weight: normal; margin-bottom: 0;}
h3 {margin: 0.3em 0;font-size: 18px;font-weight: 400;}
h4 {margin: 0.3em 0;font-size: 1.25em;font-weight: 400;}
h5, h6 {margin: 0.3em 0;font-size: 1.1em;font-weight: 400;}
a {color: #f36868;outline: none;cursor: pointer;text-decoration: none;}
a:hover {color: #AECC6D;text-decoration: underline;}
a img {border: none;}
ul li {padding: 0;margin: 5px 0 15px 15px;}
ol li {padding: 0;margin:5px 0 15px 0px;}
ol {margin-left: 20px;}
.clearbreak {clear: both;}
.date {font-size: 14px;}
.display  {margin-top: 10px; text-align: left;}
.clearafter:after {height: 0;clear: both;content: "";display: block;visibility: hidden;}
.logo {margin-left: 7px;}
.wrapper {padding:0 30px 0 0px ;}
#navigation {margin: 0;}
#navigation-container {border-right: 1px solid #BBBBBB;float: left;height: 100%;width: 270px;position: fixed;min-height: 100%;}
.logo {margin:35px 0 35px 30px;}
#navigation {color: #fff;text-align: left;padding-left: 30px;list-style-type: none;}
#navigation li {margin: 0;}
#navigation li a {color: #3e3e3e;display: block;font-size: 12px; text-decoration: none;text-transform: uppercase;background: url(../images/li.png) no-repeat  center right;padding: 10px 15px 10px 0;border-bottom: 1px solid #EFEFEF;}
#navigation li a:hover {color: #f36868;}
#navigation li a.current {color: #f36868;background-color: #fff;}
#sidebar-container {float: left;bottom: 30px;width: 290px;position: fixed; text-align: right;}
#sidebar-container p { margin-bottom: 5px;}
#sidebar-container strong {text-decoration: none;}
#sidebar-container ul {margin-top: 0; margin-right: 15px;text-align: right;list-style-type: none;}
#sidebar-container ul li {margin: 0;display: inline-block;}
#content-container {padding-left: 335px;}
#content > div {padding-top:101px; }
.owl_theme img {margin: 0!important;}
.owl_theme { background: #1c1c1c ; width: 100%; padding: 0px; display: block;}
.button {background-color: #FFF;border: 1px solid #E5E5E5;padding:5px 20px 4px 20px; vertical-align: middle;color: #404040; text-indent: 0;cursor: pointer; margin-top: 0px;display: inline-block; }
.button:hover {cursor: pointer;color: #FFF;text-decoration: none;background-color: #EF7979;border: 1px solid #EF7979!important;} 
li.trigger { width: 240px; font-weight: normal; float: left; }
li.trigger  a { color: #3e3e3e;display: block;font-size: 12px;text-decoration: none;text-transform: uppercase;background: url(../images/li.png) no-repeat center right;padding: 10px 15px 10px 0;border-bottom: 1px solid #EFEFEF;}
li.trigger  a:hover { }
li.active {background-position: left bottom;}
.toggle_container { padding: 0; width: 100%;clear: both;overflow: hidden;}
.block {padding: 0px 0px 0px 20px;  }
.block li a {text-transform: none!important;}
.clear {clear: both;}
.punkt {padding: 30px 0px 0px 50px; }
.variant {margin-bottom: 40px;} 
.varint_title {margin-bottom: 10px;}
p {margin-top: 0; margin-bottom: 30px;}
.variant_horizontal {display: inline-block; margin-right: 10px; text-align: center;}
.variant_horizontal_name {margin-bottom: 5px;}
#category-howerswap p {margin-bottom: 5px;}
#category-ribbons {margin-top: 30px;}
ul li ul {margin-left: 20px;}
ul li ul li {  margin-bottom: 0px; font-size: 13px;  list-style-type: disc;}
#content {max-width: 1000px;}
.nav-toggle {display: inline-block; margin-left: 5px; width: 105px; text-align: center; color: #808080; background-color: white; border: 1px solid #E5E5E5;padding: 10px 0px;}
.nav-toggle:hover {background-color: #F76454; color: white; cursor: pointer; border-color: #F76454; }
pre {word-wrap: break-word;display: block; margin: 0;padding: 0px 20px 20px 10px;background: #FAFAFA;border-left: 5px solid #1C1C1C;overflow: auto;font-size: 13px;white-space: pre;}
pre .comment {color: #9933CC;}
pre .constant {color: #3387CC;}
pre .storage {color: #CC7833;}
pre .string {color: #20C06D;}
pre .keyword, pre .selector {color: #CC7833;}
pre .inherited-class {font-style: italic;}
pre .support {color: #FF6868;}
#variant {margin-bottom: 5px;}
.center {text-align: center;}
.center .nav-toggle {margin-left: 0; margin-top: 10px;}
#content img {    box-shadow: 0 1px 10px 0px #cccccc;}
#info img {    box-shadow: none;}