<?php $theme = $this->helper('danko');
$footerType = $theme->getConf('footer/footer_type');
$footerColor = $theme->getConf('footer/footer_color');
?>  
<?php if ($theme->getConf('style/fullwidth_layout')): ?>
    <div id="footer" class="<?php echo ($footerColor == 'dark') ? 'footer_dark' : 'footer_light' ?>">
        <div class="container">         
            <div class="footer">
            <?php if ($footerType == 1): ?>  
                <div class="row footer_top"> 
                    <?php echo $this->getChildHtml('footer_top_links') ?>
                </div>      
                <!-- if footer version 1   -->  
                <div class="row footer_center"> 
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 about_our_shop">
                        <?php $aboutUs = Mage::getModel('cms/block')->load('danko-about-us');  ?>
                        <h4><?php echo $aboutUs->getTitle() ?></h4>
                        <?php echo $aboutUs->getContent() ?>
                        <?php echo $this->getChildHtml('footer_social') ?>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 newsletter"> 
                        <?php echo $this->getChildHtml('footer_newsletter') ?>
                        <?php echo $this->getChildHtml('footer_payments') ?>
                    </div> 
                    <div class="clear"></div>         
                </div>   
                <div class="row footer_link"> 
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 link">   
                        <?php echo $this->getChildHtml('link_columns') ?>
                    </div>      
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="twitter">
                            <?php echo $this->getChildHtml('twitter_feed') ?>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="stream">
                            <?php echo $this->getChildHtml('flickr_screen') ?>
                        </div>                                
                    </div> 
                     
                    <div class="clear"></div>                           
                </div>     
            
            <?php elseif ($footerType == 2): ?> 
                <!-- start if footer version 2   -->   
                  <div class="row footer_center">  
                    <div class="row footer_top"> 
                        <?php echo $this->getChildHtml('footer_top_links') ?>
                    </div>                       
                  
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 about_our_shop two ">   
                        <?php $aboutUs = Mage::getModel('cms/block')->load('danko-about-us');  ?>
                        <h4><?php echo $aboutUs->getTitle() ?></h4>
                        <?php echo $aboutUs->getContent() ?>
                        <?php echo $this->getChildHtml('footer_social') ?>
                    </div> 
                     
                    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 footer_link_two">   
                        <?php echo $this->getChildHtml('link_columns') ?>
                    </div>                  
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 newsletter_two"> 
                        <?php echo $this->getChildHtml('footer_newsletter') ?>
                        <?php echo $this->getChildHtml('footer_payments') ?>
                    </div> 
                    <div class="clear"></div>         
                </div>           
                <!-- end if footer version 2 -->        
                 <?php endif ?>
                <div class="clear"></div>
            </div>       
        </div> 
    </div>  
    
    <div class="footer_bootom <?php if ($footerColor != 'dark') echo ' footer_light border' ?>">  
        <div class="container">
            <div class="row">      
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 footer_bootom_left">
    
                    <?php echo $this->getChildHtml('footer_links') ?>
    
                    <?php //echo $this->getChildHtml('cms_footer_links') ?>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer_bootom_right"><?php echo $this->getCopyright() ?></div>
                <div class="clear"></div>     
            </div>
        </div>
    </div>    
    
<?php else: ?> 
    <div id="footer" class="">
        <div class="container <?php echo ($footerColor == 'dark') ? 'footer_dark' : 'footer_light' ?>">         
            <div class="footer">
            <?php if ($footerType == 1): ?>  
                <div class="row footer_top"> 
                    <?php echo $this->getChildHtml('footer_top_links') ?>
                </div>     
    
                <!-- if footer version 1   -->  
                <div class="row footer_center"> 
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 about_our_shop">
                        <?php $aboutUs = Mage::getModel('cms/block')->load('danko-about-us');  ?>
                        <h4><?php echo $aboutUs->getTitle() ?></h4>
                        <?php echo $aboutUs->getContent() ?>
                        <?php echo $this->getChildHtml('footer_social') ?>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 newsletter"> 
                        <?php echo $this->getChildHtml('footer_newsletter') ?>
                        <?php echo $this->getChildHtml('footer_payments') ?>
                    </div> 
                    <div class="clear"></div>         
                </div>   
                <div class="row footer_link"> 
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 link">   
                        <?php echo $this->getChildHtml('link_columns') ?>
                    </div>      
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="twitter">
                            <?php echo $this->getChildHtml('twitter_feed') ?>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="stream">
                            <?php echo $this->getChildHtml('flickr_screen') ?>
                        </div>                                
                    </div> 
                     
                    <div class="clear"></div>                           
                </div>     
            
            <?php elseif ($footerType == 2): ?> 
                <!-- start if footer version 2   -->   
                  <div class="row footer_center">  
                    <div class="row footer_top"> 
                        <?php echo $this->getChildHtml('footer_top_links') ?>
                    </div>                       
                  
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 about_our_shop two ">   
                        <?php $aboutUs = Mage::getModel('cms/block')->load('danko-about-us');  ?>
                        <h4><?php echo $aboutUs->getTitle() ?></h4>
                        <?php echo $aboutUs->getContent() ?>
                        <?php echo $this->getChildHtml('footer_social') ?>
                    </div> 
                     
                    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 footer_link_two">   
                        <?php echo $this->getChildHtml('link_columns') ?>
                    </div>                  
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 newsletter_two"> 
                        <?php echo $this->getChildHtml('footer_newsletter') ?>
                        <?php echo $this->getChildHtml('footer_payments') ?>
                    </div> 
                    <div class="clear"></div>         
                </div>           
                <!-- end if footer version 2 -->        
                 <?php endif ?>
                <div class="clear"></div>
            </div>       
        </div> 
    </div>   
    
    <div class="container <?php if ($footerColor != 'dark') echo ' footer_light border' ?> footer_bootom  " >   
        <div class="row">     
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 footer_bootom_left">
                <?php echo $this->getChildHtml('footer_links') ?> 
                <?php //echo $this->getChildHtml('cms_footer_links') ?>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer_bootom_right">
                <?php echo $this->getCopyright() ?>
            </div>
            <div class="clear"></div>  
          
        </div>   
    </div>         
    
<?php endif ?> 