<?php
$theme = $this->helper('danko');
$headerVariant = $theme->getConf('header/header_type');
$logoSrc = $theme->getLogoSrc($this->getLogoSrc());
$retinaLogoSrc = $theme->getRetinaLogoSrc($this->getLogoSrc());
$logoAlt = $theme->getConf('header/logo_alt') ? $theme->getConf('header/logo_alt') : $this->getLogoAlt();
$isFullWidth = true; // !!!
?>

<?php if ($theme->getConf('other/show_mediaquery_message')): ?>
<div class="test"></div>
<?php endif ?>

<div class="clear"></div>

    <?php if ($headerVariant == 1): ?>

    <div class="container main_header top_line" <?php echo ($isFullWidth) ? 'id="container"' : '' ?>>  
    <div class="header_one">    
        <div class="header_top row">
            <div class="top_links col-xs-12  col-sm-4 col-md-4 col-lg-4">  
                <?php echo $this->getChildHtml('header-links'); ?> 
            </div> 
            <div class="welcome-msg hidden-xs col-sm-4 col-md-4 col-lg-4">    
                <?php echo $this->getChildHtml('welcome') ?> <?php echo $this->getAdditionalHtml() ?>
            </div>  
            <div class="right col-xs-12 col-sm-4 col-md-4 col-lg-4">  
                <div class="row" >  
                    <div class="currency select col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
                        <?php echo $this->getChildHtml('currency') ?>
                    </div>
                    
                    <div class="language select col-xs-12 col-sm-6 col-md-6  col-lg-6 ">  
                        <?php echo $this->getChildHtml('store_language') ?> 
                    </div>  
                    
                </div>     
            </div> 
        </div>   
        <div class="row header_center">  
            <div class="logo col-xs-12 col-sm-5 col-md-4 col-lg-4"> 
                <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $logoAlt ?>"><img width="225" height="65" src="<?php echo $logoSrc ?>" data-at2x="<?php echo $retinaLogoSrc; ?>" alt="<?php echo $logoAlt ?>" /></a>
            </div> 
            <div class="header_searh col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <?php echo $this->getChildHtml('topSearch') ?> 
            </div>   
            <div class="header_right col-xs-12 col-sm-3 col-md-4 col-lg-4" >
                <div class="minicart">
                    <?php echo $this->getChildHtml('topCart'); ?>
                </div>
                <div class="clear"></div> 
                <?php echo $this->getChildHtml('topLinks') ?>                 
            </div>             
        </div> 
        <div class="row">  
            <?php echo $this->getChildHtml('topMenu') ?>
        </div>
    </div>
    </div> 
    <?php elseif ($headerVariant == 2): ?> 
    <div class="container main_header" <?php echo ($isFullWidth) ? 'id="container"' : '' ?>> 
        <div class="header_two" >    
            <div class="header_top row" >   
                <div class="top_links col-xs-12  col-sm-4 col-md-4 col-lg-4">  
                    <?php echo $this->getChildHtml('header-links'); ?> 
                </div>  
                <div class="welcome-msg hidden-xs col-sm-4 col-md-4 col-lg-4">    
                    <?php echo $this->getChildHtml('welcome') ?> <?php echo $this->getAdditionalHtml() ?>                            
                </div>  
                <div class="right col-xs-12 col-sm-4 col-md-4 col-lg-4">  
                    <div class="row" >  
                        <div class="currency select col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
                            <?php echo $this->getChildHtml('currency') ?>
                        </div>
                        <div class="language select col-xs-12 col-sm-6 col-md-6  col-lg-6 ">  
                            <?php echo $this->getChildHtml('store_language') ?>  
                        </div>   
                    </div>     
                </div> 
            </div>  
            <div class="row header_center">
                <div class="header_searh col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
                    <?php echo $this->getChildHtml('topSearch') ?> 
                </div>   
                <div class="logo col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
                    <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $logoAlt ?>"><img width="225" height="65"  src="<?php echo $logoSrc ?>" data-at2x="<?php echo $retinaLogoSrc; ?>" alt="<?php echo $logoAlt ?>" /></a>
                </div>
                <div class="header_right col-xs-12 col-sm-4 col-md-4 col-lg-4" >
                    <div class="minicart">
                        <?php echo $this->getChildHtml('topCart'); ?>
                    </div>
                    <div class="clear"></div>    
                   <?php echo $this->getChildHtml('topLinks') ?>   
                </div>             
            </div> 
            <div class="row">  
                <?php echo $this->getChildHtml('topMenu') ?>
            </div>
        </div>  
    </div> 
    <?php else: ?> 
        <div class="header_three" >     
            <?php if ($theme->getConf('style/fullwidth_layout')): ?>
            <div class="red"> 
            <div class="container">
            <?php else: ?>
            <div class="container red">
            <?php endif ?>  
                <div class="row">
                    <div class="header_top" >  
                        <div class="left col-xs-12 col-sm-3 col-md-4 col-lg-4">  
                            <div class="row" >   
                            
                                <div class="language select col-xs-6 col-sm-6 col-md-6  col-lg-6 ">  
                                    <?php echo $this->getChildHtml('store_language') ?>   
                                </div>           
                                <div class="currency select col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                                    <?php echo $this->getChildHtml('currency') ?>
                                </div> 
                                 
                            </div>  
                        </div>                                                          
                        <div class="top_links col-sm-12 col-sm-6 col-md-4 col-lg-4">    
                            <?php echo $this->getChildHtml('topLinks') ?>                            
                        </div>                    
                        <div class="header_right col-xs-12 col-sm-3 col-md-4 col-lg-4" >
                        
                            <div class="row">
                                <div class="minicart col-xs-12 col-sm-9 col-md-9 col-lg-9 ">
                                    <?php echo $this->getChildHtml('topCart'); ?>
                                </div>       
                                <div class="header_searh col-xs-12 col-sm-3 col-md-3 col-lg-3 hidden-xs"> 
                                    <?php echo $this->getChildHtml('topSearch') ?> 
                                </div>  
                                <div class="header_searh_mobile col-xs-12 col-sm-3 col-md-3 col-lg-3 hidden-sm hidden-md hidden-lg"> 
                                    <?php echo $this->getChildHtml('topSearch') ?> 
                                </div>                   
                            </div> 
                        </div>   
                    </div>
                </div>  
            </div> 
        <?php if ($theme->getConf('style/fullwidth_layout')): ?>
        </div>
        <?php else: ?> 
        <?php endif ?>       
            <div class="container main_header"> 
                <div class="row header_center">                                   
                    <div class="logo col-xs-12 col-sm-8 col-md-3 col-lg-3"> 
                        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $logoAlt ?>"><img width="225" height="65"  src="<?php echo $logoSrc ?>" data-at2x="<?php echo $retinaLogoSrc; ?>" alt="<?php echo $logoAlt ?>" /></a>
                    </div>                                         
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 hidden-sm">
                        <?php echo $this->getChildHtml('topMenu') ?> 
                    </div>   
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-sm">
                        <?php echo $this->getChildHtml('topMenu') ?>
                    </div>           
                </div>  
                <?php echo $this->getChildHtml('header_banner') ?>
            </div> 
         </div>   
         <!-- end header version 3 -->           
    <?php endif ?>
  