<div class="block block-tags">
    <div class="block-title"><?php echo $this->__('Popular Tags'); ?></div>
    <div class="block-content">
        <div class="tags-list">
            <?php foreach ($this->getTags() as $_tag): ?>
                <a href="<?php echo $_tag->getTaggedProductsUrl() ?>"><?php echo $this->escapeHtml($_tag->getName()) ?></a>
            <?php endforeach; ?>
            <?php //  style="font-size:<?php echo $_tag->getRatio()*70+75 . "%;" ?>
            <div class="clear"></div>
        </div>
        <div class="actions">
            <a href="<?php echo $this->getUrl('tag/list') ?>"><?php echo $this->__('View All Tags') ?></a>
        </div>
    </div>
    <div class="clear"></div>
</div>
