<?php $theme = $this->helper('danko') ?>

<?php if ($theme->getConf('footer/use_flickr')): ?>
    <h4><?php echo $theme->getConf('footer/flickr_title') ?></h4>
    <div class="stream">
    <?php
    $images = $this->getImages();
    if($images === false) {
        echo 'Flickr Feed Unavailable';
    }
    else {

        foreach($images->photos->photo as $photo) {
            echo '<a href="http://flickr.com/photos/' . $this->username . '/' . $photo->attributes()->id . '" target="_blank"><img width="150" height="150" src="http://farm' . $photo->attributes()->farm . '.static.flickr.com/' . $photo->attributes()->server . '/' . $photo->attributes()->id . '_' . $photo->attributes()->secret . '_q.jpg" /></a> ';
        }
    }
    ?>
    </div>
<?php else: ?>
    <?php $cmsBlock = Mage::getModel('cms/block')->load('owlthemes_cms_flickr') ?>
    <h4><?php echo $cmsBlock->getTitle() ?></h4>
    <div class="cms-flickr std">
        <?php echo $cmsBlock->getContent() ?>
    </div>
<?php endif ?>