<?php
$theme = $this->helper('danko');
?>
<div class="social">
<?php if ($fbUrl = $theme->getConf('footer/facebook_url')): ?>
    <a id="icon-facebook" href="<?php echo $fbUrl ?>"><em class="fa fa-facebook fa-lg"><div class="social_content"></div></em></a>
<?php endif ?>
<?php if ($tumblrUrl = $theme->getConf('footer/tumblr_url')): ?>
    <a id="icon-tumblr" href="<?php echo $tumblrUrl ?>"><em class="fa fa-tumblr fa-lg"><div class="social_content"></div></em></a>
<?php endif ?>
<?php if ($googleUrl = $theme->getConf('footer/google_url')): ?>    
    <a id="icon-google-plus" href="<?php echo $googleUrl ?>"><em class="fa fa-google-plus fa-lg"><div class="social_content"></div></em></a>
<?php endif ?>
<?php if ($flickrUrl = $theme->getConf('footer/flickr_url')): ?>    
    <a id="icon-flickr" href="<?php echo $flickrUrl ?>"><em class="fa fa-flickr fa-lg"><div class="social_content"></div></em></a>
<?php endif ?>
<?php if ($skypeUrl = $theme->getConf('footer/skype_url')): ?>    
    <a id="icon-skype" href="<?php echo $skypeUrl ?>"><em class="fa fa-skype fa-lg"><div class="social_content"></div></em></a>
<?php endif ?>
</div>
 