<?php $theme = $this->helper('danko'); ?>
<!-- v.<?php echo $theme->version ?> -->
<!-- Fonts -->
<?php if ($theme->getConf('fonts/enable_gfont_headings')): ?>
    <?php $headingsFamily = $theme->getConf('fonts/gfont_headings'); ?>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=<?php echo str_replace(' ', '+', $headingsFamily); ?>">
        <style>
        h1, h2, h3, h4, h5, h6,
        .block-title, 
        .banner_title,  
        .banner_hover_title, 
        .product_slider_title, 
        .large_title,   
        .col3-layout .block .block-title strong span,
        .banner_product_title a ,
        .footer_center h4,
        .block .block-title strong span,
        .cart h1,
        .cart .cart-collaterals h2,
        .grid-collection-title,
        .banner_v_two .banner_hover_title,
        .banner_v_three_text_a,
        .footer_link h4
         {font-family: <?php echo $headingsFamily ?> , sans-serif; font-weight: 700;} 
        </style>
<?php endif; ?>
<?php if ($globalFont = $theme->getConf("fonts/global_font")): ?>
<style>
    body {font-family: <?php echo $globalFont ?>}
</style>
<?php endif ?> 

<!-- Background settings -->
<style>
    body {
        background-color: <?php echo $theme->getConf("style/background_color") ?>;
        <?php if ($imgSrc = $theme->getConf("style/background_image")): ?>
        background-image: src(<?php echo $imgScr ?>);
        background-repeat: <?php echo $theme->getConf("style/background_repeat") ?>;
        background-attachment: <?php echo $theme->getConf("style/background_attachment") ?>;
        background-position: <?php echo $theme->getConf("style/background_positionx") . " " . $theme->getConf("style/background_positiony") ?>;
        <?php endif ?>  
    }    
</style>
 
<!-- Main Color css -->
<style id="active-color" class="MainColor">
.flexnav .show:before, 
.header_one .header_top .select p span a:hover,
.header_two .header_top .select p span a:hover,
.header_three .red,
.header_three .header_top .select p span a:hover, 
.pagination_category .pages li a:hover,
.pagination_category .pages #previous:hover, 
.page-sitemap .pages li a:hover,
.flexnav .show:before, 
#ajax-popup .mfp-close:hover,
.mfp-iframe-holder .mfp-close:hover {background: #<?php echo $theme->getConf('style/main_color') ?>;}


@media all and (max-width:990px){   
    .flexnav.show{border-top:4px solid #<?php echo $theme->getConf('style/main_color') ?>; }
    .menu-button:hover {color: #<?php echo $theme->getConf('style/main_color') ?>;}
    .flexnav .touch-button:hover,
    .menu-button:hover .touch-button,
    .submenu-open { background-color: #<?php echo $theme->getConf('style/main_color') ?>!important;}
    .flexnav>li>ul { border-top: 5px solid #<?php echo $theme->getConf('style/main_color') ?>;}    
}


.block-cart-header #header-items {border-top: 4px solid #<?php echo $theme->getConf('style/main_color') ?>!important;}


.customSelectInnerHover , 
.customSelectInnerOpen,
.rsMinW .rsArrowLeft:hover,
.selecter:hover .selecter-selected,
.selecter .selecter-item.selected,
.selecter.open .selecter-selected, 
.selecter.focus .selecter-selected,
.rsMinW .rsArrowRight:hover,
.link-compare:hover,
.link-wishlist:hover,
#email_icon:hover,
#owl-slider .owl-buttons .owl-next:hover,
#owl-slider .owl-buttons .owl-prev:hover,
.selecter .selecter-item:hover, 
.selecter .selecter-item.selected:hover,
.flexnav .level0 > .show:before,
.toolbar .sorter .sort-by .direction:hover,
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {background-color: #<?php echo $theme->getConf('style/main_color') ?>!important;}

 
.required em,
.header_one .header_center .header_right .minicart .button-show i, 
.header_two .header_center .header_right .minicart .button-show i,
.minicart .summary .price,
.minicart .product-details .price,
.banner_title span,
.banner_v_two .banner_title span, 
.banner_v_three_text_a em,
.homeproducts .regular-price .price, 
.categories .active > a,
.categories li a:hover span
.categories .active > a,
.price-box,
.special-price .price,
.category-products .products_list .item .regular-price .price,
.category-products .products-grid .item .regular-price .price,
.category-products .products_list_two .item .regular-price .price,
.product_view #product_tabs_description ul li:before,
.product_view #reviews .form_list em,
.product_page_one .product_options .required em,
.product_page_one .product_options .required_fields,
.product_page_one .look_plus .look_plus_item .regular-price .price,
.product_details_three .product_options .required em,
.product_details_three .product_options .required_fields,
.product_details_three .look_plus .look_plus_item .regular-price .price, 
.product_page_four .product_options .required em,
.product_page_four .product_options .required_fields,
.product_page_four .look_plus .look_plus_item .regular-price .price,
.opc .buttons-set .required,
.opc .validation-advice,
.form-list label.required em,
.account-create .required em,
.account-login #required,
.account-login em,
.cart .item-product-totals .cart-price,
.cart .cart-collaterals .checkout_total h2,
.danko-cart-options .required_fields,
.contacts_us #contactForm em,
.flexnav li a:hover,.flexnav li.active>a,
.flexnav .active, 
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-state-default:hover a,
.required_fields,
.shop_by li li a:hover,
.categories li a:hover span,
.validation-advice , 
.header_two .header_center .header_right .minicart .button-show i {color: #<?php echo $theme->getConf('style/main_color') ?>!important;}


.button:hover,
button:hover, 
.block-compare li .btn-remove:hover,
.category-products .products_list .item .link-wishlist:hover,
.category-products .products_list .item .link-compare:hover,
.category-products .products_list_two .item .link-wishlist:hover,
.category-products .products_list_two .item .link-compare:hover,
#back-top a:hover,
.product_view #tags #product_tags a:hover,
.product_page_one .product_image .image .highslide-btn a:hover,
.product_page_one .look_plus .look_plus_item .link-wishlist:hover,
.product_page_one .look_plus .look_plus_item .link-compare:hover,
.product_details_three .product_image .image .highslide-btn a:hover,
.product_details_three .look_plus .look_plus_item .link-wishlist:hover,
.product_details_three .look_plus .look_plus_item .link-compare:hover,
.product_details_three .look_plus .look_plus_item .link-wishlist:hover,
.product_details_three .look_plus .look_plus_item .link-compare:hover,
.product_page_four .product_image .image .highslide-btn a:hover,
#wishlist_icon:hover,
#compare_icon:hover,
#email_icon:hover,
.product_page_four .look_plus .look_plus_item .link-wishlist:hover,
.product_page_four .look_plus .look_plus_item .link-compare:hover,
.opc .active .step-title .number,
.account .accountcol .accountcol_edit a:hover,
.cart .item-product-delete a:hover,
.my_wishlist .wishlist_cart .link-edit:hover,
.my_wishlist .wishlist_remove a:hover,
.tags-list li a:hover,
.page-sitemap .sitemap li a:hover,
.page-sitemap .pages .current,
.page-sitemap .pages #previous:hover,
.page-sitemap .pages #next:hover,
.actions a:hover,
.category-products .toolbar .sorter .view-mode strong.grid,
.header_one .header_center .header_right .links_xs .my_wishlist_icon:hover,
.header_one .header_center .header_right .links_xs .my_account_icon:hover,
.header_one .header_center .header_right .links_xs .log_in_icon:hover,
.header_one .header_center .header_right .links_xs .log_out_icon:hover,
.header_one .header_top .select p:hover,
.header_two .header_center .form-search .buttons:hover,
.header_two .header_center .header_right .links_xs .my_wishlist_icon:hover,
.header_two .header_center .header_right .links_xs .my_account_icon:hover,
.header_two .header_center .header_right .links_xs .log_in_icon:hover,
.header_two .header_center .header_right .links_xs .checkout_icon:hover,
.header_two .header_center .header_right .links_xs .log_out_icon:hover,
.header_two .header_top .select p:hover,
.header_three .header_right .header_searh_mobile .form-search .buttons:hover,
.header_three .header_top .select p:hover,
.minicart .button_checkout:hover, 
.minicart .btn-remove:hover,
.minicart .btn-edit:hover,
.banner_hover a:hover,
.banner_v_two .banner_hover a:hover,
.categories .open:hover,
.categories .open:hover,
.categories li.active > .open:hover,
.shop_by .block-content .currently ol li a:hover,
.block-tags .tags-list a:hover ,
.category-products .toolbar .sorter .sort-by .direction:hover,
.category-products .toolbar .sorter .view-mode a:hover,
.category-products .toolbar .sorter .view-mode strong.grid,
.category-products .toolbar .sorter .view-mode strong.list,
.category-products .toolbar .sorter .view-mode strong.double,
.pagination_category .pages #next:hover,
.product_view #tags  button:hover,
.cart .cart-collaterals .checkout_total .totals .checkout-types .button:hover,
.menu-button .touch-button:hover,
.owl-theme .owl-controls .owl-buttons div:hover,
#configurable_swatch_size .selected a,
#configurable_swatch_size li a:hover {background-color: #<?php echo $theme->getConf('style/main_color') ?>!important;  border-color: #<?php echo $theme->getConf('style/main_color') ?>!important;}

.banner_v_three_row_a .hover_vn:hover, 
.pagination_category .pages .current, 
#owl-slider .more:hover, 
.royalSlider .more:hover { background: #<?php echo $theme->getConf('style/main_color') ?>;border: 1px solid #<?php echo $theme->getConf('style/main_color') ?>;}
.block-cart-header #header-items , .ui-state-default:hover  {border-bottom: 4px solid #<?php echo $theme->getConf('style/main_color') ?>;}
.fancybox-nav:hover, .fancybox-close:hover { border: 1px solid #<?php echo $theme->getConf('style/main_color') ?>; background-color:  #<?php echo $theme->getConf('style/main_color') ?>;} 
.categories li li a:hover .swatch-label img, .moreinfocat .configurable-swatch-color li:hover, #configurable_swatch_color li:hover , #configurable_swatch_color .selected ,.moreinfocat .configurable-swatch-color .selected { border: 1px solid #<?php echo $theme->getConf('style/main_color') ?>;} 
.categories li.active > a span {color: #<?php echo $theme->getConf('style/main_color') ?>!important;}
.footer_center #newsletter_button:hover {background: #<?php echo $theme->getConf('style/main_color') ?>!important;}
.white-popup .mfp-close:hover, .white-popup .checkout-link:hover, .aw-blog-read-more:hover, .postWrapper .tags li a:hover { background-color: #<?php echo $theme->getConf('style/main_color') ?>;border: 1px solid #<?php echo $theme->getConf('style/main_color') ?>!important;}
.messages .error-msg {border: 1px solid #<?php echo $theme->getConf('style/main_color') ?>; color: #<?php echo $theme->getConf('style/main_color') ?>;}
.flexnav.show{border-top:4px solid #<?php echo $theme->getConf('style/main_color') ?>;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {border-bottom: 4px solid #<?php echo $theme->getConf('style/main_color') ?>;}
.flexnav .navigation_right_content_right:hover { border: 1px solid #<?php echo $theme->getConf('style/main_color') ?>!important;background-color: #<?php echo $theme->getConf('style/main_color') ?>!important;}
</style>

<!-- Secondary Color css -->
<style id="active-color" class="SecondaryColor">
.minicart .button_checkout
{background: #<?php echo $theme->getConf('style/secondary_color') ?>;}
.cart .cart-collaterals .checkout_total .totals .checkout-types .button {background-color: #<?php echo $theme->getConf('style/secondary_color') ?>;}
</style>

<style id="ribbons">
    .ribbon-sale, .sale_label { background: #<?php echo $theme->getConf('category_page/sale_ribbon_color') ?> !important;}
    .flexnav .sale_label:before { border-top-color: #<?php echo $theme->getConf('category_page/sale_ribbon_color') ?> !important;}  
    .ribbon-new, .new_label { background: #<?php echo $theme->getConf('category_page/new_ribbon_color') ?> !important;}
    .flexnav .new_label:before { border-top-color: #<?php echo $theme->getConf('category_page/new_ribbon_color') ?> !important;}
    .hot_label {background: #<?php echo $theme->getConf('category_page/hot_ribbon_color') ?> !important;}
    .flexnav .hot_label:before { border-top-color: #<?php echo $theme->getConf('category_page/hot_ribbon_color') ?> !important;}
</style>


<?php if (!$theme->getConf('style/fullwidth_layout')): ?>
<style id="bg-url">
    body {
        background-color: #<?php echo $theme->getConf('style/background_color') ?>;
        <?php if ($bgUrl = $theme->getBgImgUrl()): ?>
        background-image: url(<?php echo $bgUrl ?>);
        background-repeat: <?php echo $theme->getConf('style/background_repeat') ?>;
        background-attachment: <?php echo $theme->getConf('style/background_attachment') ?>;
        background-position: <?php echo $theme->getConf('style/background_positionx') ?> <?php echo $theme->getConf('style/background_positiony') ?>;
        <?php endif ?>
    }
</style>
<?php endif ?>
<?php echo $this->getCssJsHtml()?>