<?php 
$theme = $this->helper('danko');
$nav = $this->helper('owlthemes_navigation');
?>
<!-- !!! Global html blocks will be here -->
<div id="ajax-popup" class="row white-popup mfp-hide">
    <div class="pending">&nbsp;</div> 
    <div class="content col-sm-12 col-md-12 col-lg-12"> 
        <div class="row"> 
            <div class="product-img col-sm-2 col-md-2 col-lg-2"></div>
            <div class="result-text col-sm-10 col-md-10 col-lg-10">
                <div class="row">
                    <div class="product-name col-sm-12 col-md-12 col-lg-12"></div> 
                    <div class="result-descr col-sm-12 col-md-12 col-lg-12"><?php echo $this->__('Was succesfully added to your cart') ?></div>
                </div>
            </div>
        </div> 
    </div> 
    <div class="links col-sm-12 col-md-12 col-lg-12">
        <a class="checkout-link continue"><?php echo $this->__('Continue Shopping') ?></a>
        <a href="<?php echo Mage::helper('checkout/url')->getCheckoutUrl(); ?>" class="checkout-link"><?php echo $this->__('Checkout') ?></a>
    </div>
</div>

<a style="display: none" id="ajax-popup-open" href="#ajax-popup" class="popup-show">&nbsp;</a>
<a style="display: none" id="ajax-popup-options" href="#" class="popup-ajaxoptions">&nbsp;</a>

<p id="back-top" style=""><a href="#top"></a></p>

<script> 
    jQuery(document).ready(function() {
    
         jQuery("#owl-slider-brand").owlCarousel({ 
            items :4, 
            paginationSpeed : 1000,
            rewindSpeed : 2000, 
            //autoPlay : 5000,
            pagination : false,
            autoHeight : false, 
            mouseDrag : true,
            touchDrag : true, 
            stopOnHover : true,
            lazyLoad : true,
            navigation : true 
        }); 
     
      jQuery("#owl-slider").owlCarousel({
          autoHeight : false,
          navigation : <?php echo ($theme->getConf("home_page/slider_enable_navigation")) ? "true" : "false" ?>,  
          pagination : <?php echo ($theme->getConf("home_page/slider_enable_pagination")) ? "true" : "false" ?>,
          slideSpeed : <?php echo $theme->getConf("home_page/slider_speed") ?>,  
          <?php if ($theme->getConf("home_page/slider_autoplay")): ?>
          autoPlay : <?php echo $theme->getConf("home_page/slider_autoplay_speed") ?>,
          <?php endif ?>
          <?php if ($theme->getConf("home_page/slider_enable_pagination")): ?>
          paginationSpeed : <?php echo $theme->getConf("home_page/slider_pagination_speed") ?>,
          <?php endif ?>
          singleItem:true 
     
      });
     
    });
    
    
    dankoTheme.init();
    
    (function ($) {
        $(function() { 
            
            /* Ajax simple popup */
            $('.popup-show').magnificPopup({
              type:'inline',
              removalDelay: 300,
              key: 'add_to_cart_simple_popup',
              mainClass: 'mfp-fade'
            });
    
            $('#ajax-popup .links .continue').on('click', function (e) {
                e.preventDefault();
                $.magnificPopup.close();
            });
    
            /* Ajax options popup */
            $('.popup-ajaxoptions').magnificPopup({
                type: 'iframe',
                key: 'add_to_cart_configurable_popup',
                removalDelay: 300,
                mainClass: 'mfp-fade',
                tLoading: '',
                tError: '<a href="%url%">The content</a> could not be loaded.',
                iframe: {
                   markup: '<div class="mfp-iframe-scaler ajax-options-popup-window">'+
                                    '<div class="mfp-close"></div>'+
                                    '<iframe class="mfp-iframe" frameborder="0" allowfullscreen> </iframe>'+
                                '</div>'
               }
            });
    
            /* Navigation */
            $(".flexnav").flexNav();
     
            <?php if ($nav->getConf('general/enable_fixed_menu')): ?>
            var menu = $('.menu');
            if (menu.length > 0) {
                var topPos = $('.menu').offset().top; 
                $(window).scroll(function() { 
                    var top = $(document).scrollTop();
                    if (top > topPos) 
                        $('.menu').addClass('fixed'); 
                    else 
                        $('.menu').removeClass('fixed'); 
                });
            }
            <?php endif ?>
      
            $('.dropdown-toggle').dropdown();
            
             /* Select custom*/
             $(".limiter select").selecter({
            	customClass: "limiter_select"
            }); 
            
             $("#checkoutSteps select").selecter({
            	customClass: "checkoutSteps_select"
            }); 
              
             $(".sort-by select").selecter({
            	customClass: "limiter_select"
            });  
     
             $(".input-box select").dropdown("destroy"); 
     
     
            /* Select all*/
        	$('select').customSelect({customClass:'customSelectInner'});
    
    		$('.nav-toggle').click(function() { 
    			var collapse_content_selector = $(this).attr('href');	 
    			var toggle_switch = $(this);
    			$(collapse_content_selector).toggle(function(){
    				if($(this).css('display')=='none'){
    					toggle_switch.html('View'); 
    				}else{
    					toggle_switch.html('Close'); 
    				}
    			});
    		}); 
    
            /* Back to top */
            $("#back-top").hide();
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#back-top').fadeIn();
                } else {
                    $('#back-top').fadeOut();
                }
            });
            $('#back-top a').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
    
            /* Init all fancybox links */
            if ($.fancybox !== undefined) {
                $('.fancybox').fancybox();
            }
        
        });
    })(jQuery);
</script>
