<?php $tw = $this->getTweets() ?>
<?php $theme = $this->helper('danko'); ?>
<?php if ($theme->getConf('footer/use_twitter')): ?>
    <h4><?php echo $theme->getConf('footer/twitter_title') ?></h4>
    <?php foreach ($tw as $t): ?>
        <div class="twit"><?php echo $t ?></div>
    <?php endforeach; ?>
<?php else: ?>
    <?php $cmsBlock = Mage::getModel('cms/block')->load('owlthemes_cms_twitter') ?>
    <h4><?php echo $cmsBlock->getTitle() ?></h4>
    <div class="cms-twitter std">
        <?php echo $cmsBlock->getContent() ?>
    </div>
<?php endif ?>