<?php if($this->canShowBlock()): ?>
<div class="block block shop_by">
    <div class="block-title"><?php echo $this->__('Shop By') ?></div>
    <div class="block-content">

        <?php if($this->canShowOptions()): ?>
            <?php $_filters = $this->getFilters() ?>
            <ul class="categories by-list" > 
            <?php foreach ($_filters as $_filter): ?>
            <?php if($_filter->getItemsCount()): ?>
                <li class="shop_by_list">
                <a onclick="false" class="filterlabel"><?php echo $this->__($_filter->getName()) ?></a>
                <span class="open"></span>
                <?php echo $_filter->getHtml() ?>
                </li>
            <?php endif; ?>
            <?php endforeach; ?>
                <div class="clear"></div>
            </ul>
        <?php endif; ?>
        
        
        
        <?php echo $this->getStateHtml() ?>
        <?php if ($this->getLayer()->getState()->getFilters()): ?>
            <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
        <?php endif; ?>        
        
        
        
        
    </div>
    <div class="clear"></div>
</div>
<?php endif; ?>
