<?php
$_product    = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
?>
<?php if ($_product->isSaleable() && count($_attributes)):?>
    <?php foreach($_attributes as $_attribute): ?>
        <div class="row <?php if ($_attribute->decoratedIsLast){?> last<?php }?>">
        <label class="required col-xs-12 col-sm-3 col-md-2 col-lg-2"><?php echo $_attribute->getLabel() ?> <em>*</em></label>
            <div class="input-box col-xs-12 col-sm-9 col-md-10 col-lg-10">
                <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="required-entry super-attribute-select">
                    <option><?php echo $this->__('Choose an Option...') ?></option>
                  </select>
            </div>
        </div>
    <?php endforeach; ?>
    <script type="text/javascript">
        var spConfig = new Product.Config(<?php echo $this->getJsonConfig() ?>);
    </script>
<?php endif;?>
