<?php
$theme = $this->helper('danko');
$aspectRatio = $theme->getAspectRatio();
$w = 80;
$h = $w * $aspectRatio;
$rw = $w * 2;
$rh = $h * 2;
$retinaIsEnabled = $theme->getConf('general/enable_retina');
?>
<?php if ($this->helper('wishlist')->isAllow()) : ?>
<div class="block block-wishlist">
    <div class="block-title">
        <span>
            <?php echo $this->__('My Wishlist') ?> 
            <?php echo $this->__('') . "" . count($this->getWishlistItems()) . "" ?>
        </span>
        <?php if ($this->hasWishlistItems()): ?> 
            <button href="#collapse2" class="nav-toggle">View</button>
        <?php endif ?>
        
        <div class="clear"></div>
    </div>
    <div class="block-content">
    <?php if ($this->hasWishlistItems()): ?>
    <div id="collapse2" style="display:none">
        <ul>
         <?php foreach ($this->getWishlistItems() as $_item): ?>
            <?php $product = $_item->getProduct(); ?>
            <li class="item">
                <a href="<?php echo $this->getProductUrl($_item) ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize($w, $h); ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize($rw, $rh); ?>"<?php endif ?> alt="<?php echo $this->escapeHtml($product->getName()) ?>" /></a>
                <div class="product-details">
                    <a href="<?php echo $this->getProductUrl($_item) ?>"><?php echo $this->escapeHtml($product->getName()) ?></a>
                    <?php echo $this->getPriceHtml($product, false, '-wishlist') ?>
                    <?php if ($product->isSaleable() && $product->isVisibleInSiteVisibility()): ?>
                        <a href="<?php echo $this->getItemAddToCartUrl($_item) ?>" class="button"><?php echo $this->__('Add to Cart') ?></a>
                    <?php endif; ?>
                </div>
                <a href="<?php echo $this->getItemRemoveUrl($_item) ?>" title="<?php echo $this->__('Remove This Item') ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the wishlist?') ?>');" class="btn-remove"><?php echo $this->__('Remove This Item') ?></a>
                <div class="clear"></div>
            </li>
        <?php endforeach; ?>
        </ul>
        <div class="actions">
            <a href="<?php echo $this->helper('wishlist')->getListUrl() ?>" class="button"><?php echo $this->__('Go to Wishlist') ?></a>
        </div>
    </div>
    <?php else: ?>
        <p class="empty"><?php echo $this->__('You have no items in your wishlist.') ?></p>
    <?php endif ?>
    </div>
    <div class="clear"></div>
</div>
<?php endif ?>
