<?php
$theme = $this->helper('danko');
$_productCollection = $this->_getProductCollection();
$_helper = $this->helper('catalog/output');
$colCount = ($this->getColCount()) ? $this->getColCount() : 3;
$title = $this->getTitle();
$rootTemplate = $this->getLayout()->getBlock('root')->getTemplate();

$blockName = $this->getName(); 
$ribbons = $this->helper('danko/ribbons');
$catHelper = $this->helper('danko/category');
$catHelper->setColCount($colCount)->setTemplate($rootTemplate)->calculateData();
$w = $catHelper->getImgWidth('grid');
$h = $catHelper->getImgHeight('grid');
$rw = $catHelper->getImgRetinaWidth('grid');
$rh = $catHelper->getImgRetinaHeight('grid');
$containerClass = $catHelper->getContainerGridClass();
$swapIsEnabled = $theme->getConf('category_page/howerswap');+
$hoverIconsEnabled = !$this->getSetting("hide_hoveritems", false);
$priceEnabled = !$this->getSetting("hide_price", false);
$addToCartEnabled = !$this->getSetting("hide_addtocart", false);
$starsEnabled = !$this->getSetting("hide_stars", false);
$ribbonsEnabled = !$this->getSetting("hide_ribbons", false);

$retinaIsEnabled = $theme->getConf('general/enable_retina');

$layoutName = strtolower($this->getNameInLayout());
$layoutName = str_replace(".", "-", $layoutName);
$_collectionSize = $_productCollection->count();
?>
<?php if ($_collectionSize): ?>
<div class="category-products">
<div class="products-grid cols-<?php echo $colCount ?>">
    <?php if ($title): ?>
        <div class="grid-collection-title"><?php echo $title ?></div>
    <?php endif; ?>                    
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i% $colCount == 0): // new row begins ?>
        <div class="row grid">
        <?php endif ?>
        <?php $i++ ?>
        <div class="<?php echo $containerClass ?> item">
        <div class="item_products product_<?php echo $_product->getId() ?>">
            <div class="images">
                <?php if ($ribbonsEnabled) { echo $ribbons->getRibbonsHtml($_product); } ?>
                <?php if ($starsEnabled && $ratings = $this->getReviewsSummaryHtml($_product, 'short')): ?>
                <?php echo $ratings; ?>
                <?php endif; ?>
                <div class="hover-opacity">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <?php $useSwap = ($_product->getData('owlthemes_hoverswap_image') && $_product->getData('owlthemes_hoverswap_image') != 'no_selection') ?>
                        <?php if ($swapIsEnabled && $useSwap): ?>
                        <?php $swapSrc = $this->helper('catalog/image')->init($_product, 'owlthemes_hoverswap_image') ?>
                        <span class="imghover">
                            <img src="<?php echo $swapSrc->resize($w, $h); ?>" width="<?php echo $w ?>" height="<?php echo $h ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $swapSrc->resize($rw, $rh); ?>"<?php endif ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/> 
                        </span>
                        <?php endif ?>
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w, $h); ?>" width="<?php echo $w ?>" height="<?php echo $h ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($rw, $rh); ?>"<?php endif ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/> 
                        
                    </a>            
                </div>
                <?php if ($hoverIconsEnabled): ?>
                <div class="add-to-links">
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                    <?php endif; ?>
                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                       <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                    <?php endif; ?>
                </div>
                <?php endif ?>
                <div class="clear"></div> 
            </div> 
            <div class="moreinfocat"> 
                <div class="name">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
                </div>
                <?php if ($priceEnabled): ?>
                <?php echo $this->getPriceHtml($_product, true) ?> 
                <?php endif ?>
                <?php if ($addToCartEnabled): ?>
                <?php if($_product->isSaleable()): ?>
                    <?php if ( !($_product->getTypeInstance(true)->hasOptions($_product) || $_product->isGrouped())): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="dankoTheme.ajaxCartAdd('<?php echo $this->getAddToCartUrl($_product) ?>', <?php echo $_product->getId() ?>)"><?php echo $this->__('Add to Cart') ?></button>
                    <?php else: ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="dankoTheme.ajaxShowOptions('<?php echo $this->getUrl('owlthemes/cart/options',array('product'=>$_product->getId()));?>', <?php echo $_product->getId() ?>)"><?php echo $this->__('Add to Cart') ?></button>
                    <?php endif ?>
                <?php else: ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>
                <div class="clear"></div>
                <?php endif ?>
            </div>
        </div>
        </div>
        <?php if ($i % $colCount==0 || $i==$_collectionSize): ?>
        </div>
        <?php endif ?>
    <?php endforeach ?>
</div>
</div>
<?php endif; ?>