<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head> 
<?php $theme = $this->helper('danko') ?>
<?php if ($theme->getConf("style/fullwidth_layout")) { $this->addBodyClass("fullwidth"); } else {$this->addBodyClass("boxed"); } ?>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<div class="page_wrapper">
<?php echo $this->getChildHtml('after_body_start') ?>    <?php echo $this->getChildHtml('global_notices') ?>
<?php echo $this->getChildHtml('header') ?>
 
<?php if ($theme->getConf('style/fullwidth_layout')): ?>
    <div class="row">
        <?php echo $this->getChildHtml('before_content_start') ?>    
    </div>

    <div class="container main_content columns-left">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <?php echo $this->getChildHtml('breadcrumbs') ?>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 before-content-start">
                <?php echo $this->getChildHtml('global_messages') ?> 
            </div>
        </div> 
        <div class="row two_column">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 right_column">
                <?php echo $this->getChildHtml('content') ?>
            </div>        
        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left_column">
                <?php echo $this->getChildHtml('left') ?>
            </div>

        </div>
        <div class="row after-content-end">
            <?php echo $this->getChildHtml('after_content_end') ?>
        </div>
    </div>

<?php else: ?>
    <div class="container main_content columns-left">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <?php echo $this->getChildHtml('breadcrumbs') ?>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 before-content-start">
                <?php echo $this->getChildHtml('global_messages') ?>
                <?php echo $this->getChildHtml('before_content_start') ?>
            </div>
        </div> 
        <div class="row two_column">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 right_column">
                <?php echo $this->getChildHtml('content') ?>
            </div>        
        
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left_column">
                <?php echo $this->getChildHtml('left') ?>
            </div> 
        </div>
        <div class="row after-content-end">
            <?php echo $this->getChildHtml('after_content_end') ?>
        </div>
    </div> 
<?php endif ?>  
<?php echo $this->getChildHtml('footer') ?>
<?php echo $this->getChildHtml('global_cookie_notice') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
<?php echo $this->getChildHtml('foot') ?>
</div>
</body>
</html> 