<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<?php $theme = $this->helper('danko') ?>
<?php if ($theme->getConf("style/fullwidth_layout")) { $this->addBodyClass("fullwidth"); } else {$this->addBodyClass("boxed"); } ?>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<div class="page_wrapper">
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        <?php echo $this->getChildHtml('header') ?> 
        <div class="container main col2-righ">
            <div class="row"> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">  
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 breadcrumbs"> 
                            <?php echo $this->getChildHtml('breadcrumbs') ?> 
                        </div> 
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 left_column"> 
                                    <div class="before-content-start">
                                        <?php echo $this->getChildHtml('global_messages') ?>
                                        <?php echo $this->getChildHtml('before_content_start') ?>
                                    </div>
                                    
                                    <div class="col-main">
                                        <?php echo $this->getChildHtml('content') ?>
                                    </div>
                                </div> 
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 right_column"> 
                                    <div class="col-right sidebar"><?php echo $this->getChildHtml('right') ?></div>
                                </div>
                            </div> 
                        </div> 
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 after-content-end">
                            <?php echo $this->getChildHtml('after_content_end') ?>
                        </div>        
                    </div>
                </div>
            </div>
        </div> 
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
<?php echo $this->getChildHtml('foot') ?>
</div>
</body>
</html>
