<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<?php $theme = $this->helper('danko') ?>
<?php if ($theme->getConf("style/fullwidth_layout")) { $this->addBodyClass("fullwidth"); } else {$this->addBodyClass("boxed"); } ?>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<div class="page_wrapper">
<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('global_notices') ?>
<?php echo $this->getChildHtml('header') ?>
<div class="container main_content columns3"> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <?php echo $this->getChildHtml('breadcrumbs') ?>
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 before-content-start">
            <?php echo $this->getChildHtml('global_messages') ?>
            <?php echo $this->getChildHtml('before_content_start') ?>
        </div>
    </div>  
    <div class="row col3-layout">  
        <div class="col_left col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <?php echo $this->getChildHtml('left') ?>
        </div> 
        <div class=" col_main col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <?php echo $this->getChildHtml('content') ?>
        </div> 
        <div class="col_right col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <?php echo $this->getChildHtml('right') ?>
        </div>  
    </div>
</div>
<?php echo $this->getChildHtml('footer') ?>
<?php echo $this->getChildHtml('global_cookie_notice') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
<?php echo $this->getChildHtml('foot') ?>
</div>
</body>
</html>