<?php $theme = $this->helper('danko'); ?>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contacts_us"> 
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contacts_us_map">
                <div id="map_canvas" class="google-map">
                    <p>Enable your JavaScript!</p>
                </div>                  
            </div>            
        </div> 
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
          function initGmap() {
        
            var styles = {
                "styles": [
                {
                    "featureType": "administrative",
                    "stylers": [
                      { "visibility": "on" }
                    ]
                },
                {
                    "stylers": [
                      { "visibility": "on" },
                      { "hue": "#EF7979" },
                      { "saturation": -25 }
                    ]
                }
            ]};
        
            var myLatlng = new google.maps.LatLng(<?php echo $theme->getConf('contact_us_page/gmap_longtitude') ?>, <?php echo $theme->getConf('contact_us_page/gmap_latitude') ?>);
            var mapCanvas = document.getElementById('map_canvas');
            var mapOptions = {
                center: myLatlng,
                zoom: 16,
                // mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeId: 'danko',
                disableDefaultUI: true,
        
                draggable: true,
                zoomControl: true,
                panControl: false,
                mapTypeControl: true,
                scaleControl: true,
                streetViewControl: true,
                overviewMapControl: true,
                scrollwheel: false,
                disableDoubleClickZoom: false
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
        
            var styledMapType = new google.maps.StyledMapType(styles['styles'], {name: 'danko'});
            map.mapTypes.set('danko', styledMapType);
            
            var marker = new google.maps.Marker({
                position: myLatlng, 
                map: map,
                title:""
            });   
        }
        
            jQuery(document).ready(function(){
                initGmap();
            });
            
            // jQuery(document).resize(function(){
            //     initialize();
            // });
        </script> 
        
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 contact_form">
                <h2><?php echo $this->__('Contact Form') ?></h2>   
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="messages_product_view">
                        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
                    </div>
                </div>                
                
                <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post"> 
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 contact_form_input" id="contact_form_input_left"> 
                            <label><?php echo Mage::helper('contacts')->__('Name') ?><em>*</em></label>
                            <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 contact_form_input" id="contact_form_input_right">
                            <label><?php echo Mage::helper('contacts')->__('Email') ?><em>*</em></label> 
                            <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                        </div>
                    </div>  
                    <div class="contact_form_input">
                        <label><?php echo Mage::helper('contacts')->__('Message') ?><em>*</em></label>
                        <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                    </div> 
                    <div class="row buttons-set"> 
                        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                        <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button"><?php echo Mage::helper('contacts')->__('Sand Message') ?></button>
                    </div>
                </form>         
            </div>   
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 contact_infofmation">
                <h2><?php echo $this->__('Contact Infofmation') ?></h2>      
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('danko-cms_contact_us')->toHtml(); ?>    
            </div>                      
        </div>   
        
    </div>
</div>

 
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>
