<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $ribbons = $this->helper('danko/ribbons');
    $catHelper = $this->helper('danko/category');
    $theme = $this->helper('danko');
    $swapIsEnabled = $theme->getConf('category_page/howerswap');
    $retinaIsEnabled = $theme->getConf('general/enable_retina');
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
    <?php echo $this->getToolbarHtml() ?>
    <div class="clear"></div>
    <?php // List mode ?>
    <?php if($this->getMode() != 'grid'): ?>
    <?php 
    if ($this->getMode() == 'double') {
        $w = $catHelper->getImgWidth('dlist');
        $h = $catHelper->getImgHeight('dlist');
        $rw = $catHelper->getImgRetinaWidth('dlist');
        $rh = $catHelper->getImgRetinaHeight('dlist');
        $colsClass = 'col-xs-12 col-sm-6 col-md-6 col-lg-6';
        $containerClass = "products_list_two";
    }
    else { // list
        $w = $catHelper->getImgWidth('list');
        $h = $catHelper->getImgHeight('list');
        $rw = $catHelper->getImgRetinaWidth('list');
        $rh = $catHelper->getImgRetinaHeight('list');
        $colsClass = 'col-xs-12 col-sm-12 col-md-12 col-lg-12';
        $containerClass = "products_list";
    } ?>
    <?php $_iterator = 0; ?>
    <div class="<?php echo $containerClass ?> row">
    <?php foreach ($_productCollection as $_product): ?>
        <div class="<?php echo $colsClass ?> item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
            <div class="item_products product_<?php echo $_product->getId() ?> row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 images">   
                <?php echo $ribbons->getRibbonsHtml($_product); ?>
                <div class="hover-opacity">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <?php $useSwap = ($_product->getData('owlthemes_hoverswap_image') && $_product->getData('owlthemes_hoverswap_image') != 'no_selection') ?>
                        <?php if ($swapIsEnabled && $useSwap): ?>
                        <?php $swapSrc = $this->helper('catalog/image')->init($_product, 'owlthemes_hoverswap_image') ?>
                        <span class="imghover">
                            <img src="<?php echo $swapSrc->resize($w, $h); ?>" width="<?php echo $w ?>" height="<?php echo $h ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $swapSrc->resize($rw, $rh); ?>"<?php endif ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/> 
                        </span>
                        <?php endif ?>
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w, $h); ?>" width="<?php echo $w ?>" height="<?php echo $h ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($rw, $rh); ?>"<?php endif ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                    </a>            
                </div>           
                <div class="clear"></div> 
            </div> 
            
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 moreinfocat"> 
                <div class="name">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
                </div> 
   
                <div class="clear"></div>
                <?php if($_product->getRatingSummary() && $theme->getConf("category_page/enable_ratings")): ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>               
                <div class="clear"></div> 
                <div class="short_description">
                     <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                </div> 
                <?php if ($theme->getConf("category_page/enable_price")): ?>
                <?php echo $this->getPriceHtml($_product, true) ?>
                <?php endif; ?>   
                <?php if ($theme->getConf("category_page/enable_addtocart")): ?>
                <?php if($_product->isSaleable()): ?>
                    <?php if ( !($_product->getTypeInstance(true)->hasOptions($_product) || $_product->isGrouped())): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="dankoTheme.ajaxCartAdd('<?php echo $this->getAddToCartUrl($_product) ?>', <?php echo $_product->getId() ?>)"><?php echo $this->__('Add to Cart') ?></button>
                    <?php else: ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="dankoTheme.ajaxShowOptions('<?php echo $this->getUrl('owlthemes/cart/options',array('product'=>$_product->getId()));?>', <?php echo $_product->getId() ?>)"><?php echo $this->__('Add to Cart') ?></button>
                    <?php endif ?>
                <?php else: ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>
                <?php endif; ?>   
                <?php if ($theme->getConf("category_page/hover_links")): ?>
                <div class="add-to-links">
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                    <?php endif; ?>
                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                        <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                    <?php endif; ?>
                </div>
                <?php endif ?>
                <div class="clear"></div>
            </div> 
        </div>
        </div>
    <?php endforeach; ?>
    </div>

    <?php else: ?>

    <?php // Grid Mode ?>
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $catHelper->getCountPerRow('grid'); ?>
    <div class="products-grid cols-<?php echo $_columnCount ?>">
    <?php
    $w = $catHelper->getImgWidth('grid');
    $h = $catHelper->getImgHeight('grid');
    $rw = $catHelper->getImgRetinaWidth('grid');
    $rh = $catHelper->getImgRetinaHeight('grid');
    $containerClass = $catHelper->getContainerGridClass(); ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <?php // new row begins ?>
        <?php endif ?>
        <div class="<?php echo $containerClass ?> item"> 
        <div class="item_products product_<?php echo $_product->getId() ?>"> 
            <div class="images">
                <?php echo $ribbons->getRibbonsHtml($_product); ?>
                <?php if($_product->getRatingSummary() && $theme->getConf("category_page/enable_ratings")): ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>
                
                <div class="hover-opacity">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <?php $useSwap = ($_product->getData('owlthemes_hoverswap_image') && $_product->getData('owlthemes_hoverswap_image') != 'no_selection') ?>
                        <?php if ($swapIsEnabled && $useSwap): ?>
                        <?php $swapSrc = $this->helper('catalog/image')->init($_product, 'owlthemes_hoverswap_image') ?>
                        <span class="imghover">
                            <img src="<?php echo $swapSrc->resize($w, $h); ?>" width="<?php echo $w ?>" height="<?php echo $h ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $swapSrc->resize($rw, $rh); ?>"<?php endif ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/> 
                        </span>
                        <?php endif ?>
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w, $h); ?>" width="<?php echo $w ?>" height="<?php echo $h ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($rw, $rh); ?>"<?php endif ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                    </a>            
                </div>
                <?php if ($theme->getConf("category_page/hover_links")): ?>
                <div class="add-to-links">
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                    <?php endif; ?>
                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                        <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                    <?php endif; ?>
                </div>
                <?php endif; ?>
                <div class="clear"></div>
            </div>
            <div class="moreinfocat">
                <div class="name">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                </div>
                <?php if ($theme->getConf("category_page/enable_price")): ?>
                <?php echo $this->getPriceHtml($_product, true) ?>
                <?php endif; ?>   
                <?php if ($theme->getConf("category_page/enable_addtocart")): ?>
                <?php if($_product->isSaleable()): ?>
                    <?php if ( !($_product->getTypeInstance(true)->hasOptions($_product) || $_product->isGrouped())): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="dankoTheme.ajaxCartAdd('<?php echo $this->getAddToCartUrl($_product) ?>', <?php echo $_product->getId() ?>)"><?php echo $this->__('Add to Cart') ?></button>
                    <?php else: ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="dankoTheme.ajaxShowOptions('<?php echo $this->getUrl('owlthemes/cart/options',array('product'=>$_product->getId()));?>', <?php echo $_product->getId() ?>)"><?php echo $this->__('Add to Cart') ?></button>
                    <?php endif ?>
                <?php else: ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>
                <?php endif; ?>
                <?php if ($theme->getConf("category_page/hover_links")): ?>
                <div class="add-to-links mobile">
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                    <?php endif; ?>
                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                        <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                    <?php endif; ?>
                </div>
                <?php endif; ?>
                <div class="clear"></div>
            </div>
        </div>
        </div>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>

        <?php endif ?>
    <?php endforeach ?>
    </div>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>
    <div class="clear"></div>
    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>
</div>
<?php endif; ?>
