<?php
if ($count = count($this->getItemCollection()->getItems())): 
$theme = $this->helper('danko');
$_helper = $this->helper('catalog/output');
$rowCount = ($this->getRowCount()) ? $this->getRowCount() : 3; // set dependence between row count and layout
$w = 650;
$h = $w * $theme->getAspectRatio();
$rw = $w * 2;
$rh = $h * 2;
$ribbons = $this->helper('danko/ribbons');
$swapIsEnabled = $theme->getConf('category_page/howerswap');
$retinaIsEnabled = $theme->getConf('general/enable_retina');

?>
<div class="homeproduct">
    <div class="product_slider_title"><?php echo $this->__('Upsell Products') ?></div>                    
    <div class="owl-carousel" id="upsell-slider"> 
    <?php foreach ($this->getItemCollection()->getItems() as $_product): ?>
        <div class="homeproducts">
            <div class="images">
                <?php echo $ribbons->getRibbonsHtml($_product); ?>    
                <?php if ($ratings = $this->getReviewsSummaryHtml($_product, 'short')): ?>
                <?php echo $ratings; ?>
                <?php endif; ?>
                <div class="hover-opacity">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <?php $useSwap = ($_product->getData('owlthemes_hoverswap_image') && $_product->getData('owlthemes_hoverswap_image') != 'no_selection') ?>
                        <?php if ($swapIsEnabled && $useSwap): ?>
                        <?php $swapSrc = $this->helper('catalog/image')->init($_product, 'owlthemes_hoverswap_image') ?>
                        <span class="imghover">
                            <img src="<?php echo $swapSrc->resize($w, $h); ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $swapSrc->resize($rw, $rh); ?>"<?php endif ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/> 
                        </span>
                        <?php endif ?>
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w, $h); ?>" <?php if($retinaIsEnabled): ?>data-at2x="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($rw, $rh); ?>"<?php endif ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/> 
                        
                    </a>            
                </div>       
                <div class="add-to-links">
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                    <?php endif; ?>
                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                       <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                    <?php endif; ?>
                </div>          
                <div class="clear"></div> 
            </div> 
            <div class="moreinfocat"> 
                <div class="name">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
                </div>
                <?php echo $this->getPriceHtml($_product, true) ?> 
                <?php if($_product->isSaleable()): ?>
                    <?php if ( !($_product->getTypeInstance(true)->hasOptions($_product) || $_product->isGrouped())): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="dankoTheme.ajaxCartAdd('<?php echo $this->getAddToCartUrl($_product) ?>', <?php echo $_product->getId() ?>)"><?php echo $this->__('Add to Cart') ?></button>
                    <?php else: ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="dankoTheme.ajaxShowOptions('<?php echo $this->getUrl('owlthemes/cart/options',array('product'=>$_product->getId()));?>', <?php echo $_product->getId() ?>)"><?php echo $this->__('Add to Cart') ?></button>
                    <?php endif ?>
                <?php else: ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>
                <div class="clear"></div>
            </div>                           
        </div>
       <?php endforeach; ?>
    </div>
</div>


<script>
    jQuery("#upsell-slider").owlCarousel({ 
        items : 4, 
        paginationSpeed : 1000,
        rewindSpeed : 2000, 
        //autoPlay : 5000,
        pagination : false,
        autoHeight : true, 
        mouseDrag : true,
        touchDrag : true, 
        stopOnHover : true,
        lazyLoad : true,
        navigation : true 
    });
</script>
<?php endif; ?>