<?php 
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct(); 
$productHelper = $this->helper('danko/product');
$prevnext = $this->helper('danko/prevnext');
$prev = $prevnext->getNextProduct();
$next = $prevnext->getPreviousProduct();
$ribbons = $this->helper('danko/ribbons');
$theme = $this->helper('danko');
?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product_view <?php echo $productHelper->getWrapperClass() ?>"> <!-- !!! -->
<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
    <?php echo $this->getBlockHtml('formkey') ?>
    <div class="no-display">
        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
    </div>
    <div class="<?php echo $productHelper->getImgContainerClass() ?> product_image">
        <?php echo $this->getChildHtml('media') ?>
    </div>
    <div class="<?php echo $productHelper->getDescContainerClass() ?> product_details">
    <div class="prev_next">
        <?php if ($prev): ?>
            <a href="<?php echo $prev?>"><?php echo $this->__('Previous Product')?><i class="fa fa-long-arrow-left"></i></a>
        <?php endif; ?>
        <?php if ($next): ?>
            <a href="<?php echo $next?>"><i class="fa fa-long-arrow-right"></i><?php echo $this->__('Next Product')?></a>
        <?php endif; ?>
    </div>
        <div class="product-name">
            <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
        </div>
        <div class="ribbons">
            <?php echo $ribbons->getRibbonsHtml($_product) ?>
        </div>
        <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
        <?php echo $this->getChildHtml('alert_urls') ?>
        <?php echo $this->getChildHtml('product_type_data') ?>
        <?php echo $this->getTierPriceHtml() ?>
        <?php echo $this->getChildHtml('extrahint') ?>
        <?php if ($_product->getShortDescription()):?>
            <div class="description">
                <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
            </div>
        <?php endif;?>
        <?php if ($sizeGuideSrc = $productHelper->getSizeguideSrc()): ?>
            <div class="sizeguide"> 
                <a href="#win1">SIZEGUIDE</a>       
                <a href="#x" class="overlay" id="win1"></a>
                <div class="popup">
                    <img src="<?php echo $sizeGuideSrc ?>" /> 
                    <a  class="fancybox-item fancybox-close"  href="#close"  ></a>
                </div>  
            </div> 
        <?php endif ?>
        <div class="share42init"></div>
        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>
        <div class="product-options-bottom row">
            <?php if (!$this->hasOptions()):?>
                <?php if($_product->isSaleable()): ?>
                    <?php echo $this->getChildHtml('addtocart') ?>
                <?php endif; ?>
                <?php echo $this->getChildHtml('addto') ?>
            <?php endif; ?>
        </div>
        <?php echo $this->getChildHtml('other');?>
    </div>
    <?php if ($productHelper->getPageVariant() != 'wide' && $productHelper->getPageVariant() != 'widelarge'): ?>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 product_banner">
        <div class="row">
            <?php echo $this->getChildHtml('product-right-banners'); ?>
        </div>
    </div>
    <?php endif; ?>
    <?php if ($_product->isSaleable() && $this->hasOptions()):?>
        <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
    <?php endif;?>
</form>
<div class="clear">&nbsp;</div>
<script type="text/javascript">
//<![CDATA[
    var productAddToCartForm = new VarienForm('product_addtocart_form');
    productAddToCartForm.submit = function(button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;

            if (url) {
               form.action = url;
            }
            var e = null;
            try {
                // @todo check if ajax add to cart is enabled if not, then this
                //this.form.submit(); 
                //if enabled, then this 
                dankoTheme.ajaxFormAdd('product_addtocart_form');
            } catch (e) {
            }
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }

            /*
            if (button && button != 'undefined') {
                button.disabled = true;
            }
            */
            return false;
        }
    }.bind(productAddToCartForm);

    productAddToCartForm.submitLight = function(button, url){
        if(this.validator) {
            var nv = Validation.methods;
            delete Validation.methods['required-entry'];
            delete Validation.methods['validate-one-required'];
            delete Validation.methods['validate-one-required-by-name'];
            // Remove custom datetime validators
            for (var methodName in Validation.methods) {
                if (methodName.match(/^validate-datetime-.*/i)) {
                    delete Validation.methods[methodName];
                }
            }

            if (this.validator.validate()) {
                if (url) {
                    this.form.action = url;
                }
                this.form.submit();
            }
            Object.extend(Validation.methods, nv);
        }
    }.bind(productAddToCartForm);
//]]>
</script>
<?php echo $this->getChildHtml('info_tabs'); ?>
<?php echo $this->getChildHtml('product-upsells'); ?>
<?php if ($bottomCms = $this->getChildHtml('product-bottom-banner')): ?>
<div class="cms_block std"><?php echo $bottomCms ?></div>
<?php endif ?>
</div>