<?php if ($this->getReviewsCount()): ?>
    <div class="ratings">
        <?php if ($this->getRatingSummary()):?>
            <div class="rating-box">
                <div class="rating" style="width:<?php echo $this->getRatingSummary() ?>%"></div>
            </div>
        <?php endif;?>
        <p class="rating-links">
            <a class="open-review-tab" href="#product_tabs_reviews"><?php echo $this->__('%d Review(s)', $this->getReviewsCount()) ?></a>
            <span class="separator">|</span>
            <a class="open-review-tab" href="#product_tabs_reviews"><?php echo $this->__('Add Your Review') ?></a>
        </p>
    </div>
<?php elseif ($this->getDisplayIfEmpty()): ?>
    <p class="no-rating"><a class="open-review-tab" href="#product_tabs_reviews"><?php echo $this->__('Be the first to review this product') ?></a></p>
<?php endif; ?>
<script>
    jQuery('.open-review-tab').on('click', function (e) {
        jQuery('.tab-link-reviews').click();
    })
</script>