<?php if($this->getCurrencyCount()>1): ?>
    <span class="label"><?php echo $this->__('Currency') ?>:</span>
    <p> 
        <a><?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?></a>
        <span> 
        <?php foreach ($this->getCurrencies() as $_code => $_name): ?>
            <a href="<?php echo $this->getSwitchCurrencyUrl($_code) ?>"><?php echo $_code ?></a> 
        <?php endforeach; ?>
        </span> 
    </p>
<?php endif; ?>
