<?php $this->setRenderCustomContent(false); ?>
<?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top', '', '<span class="open"></span>') ?>
<?php if($_menu): ?>
<div class="block left-categories">
    <div class="block-title"> 
        <?php echo $this->__('Categories')?> 
    </div>
    <div class="block-content leftnav">
        <ul class="categories">
            <?php echo $_menu ?>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<?php endif ?>