<?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top', 'navigation_left') ?> 
<?php $homeLink = $this->otNav->getConf('general/homepage_link'); ?>
<?php if($_menu): ?>
<div class="navigation"> 
    <div class="menu"> 
        <div class="menu-button"><?php echo $this->__('Menu') ?></div>
        <ul class="flexnav" data-breakpoint="990">
            <?php if ($homeLink): ?>
                <li class="link-home level0 <?php if ($this->otNav->isHomePage()) echo 'active' ?>">
                    <a href="<?php echo Mage::getBaseUrl(); ?>"><?php echo $homeLink ?></a>
                </li>
            <?php endif ?>
            <?php echo $_menu ?>
            <?php echo $this->getCustomNavItemsHtml(); ?>
        </ul>
    </div>
</div>
<?php endif ?>
