<div class="block block-cart-header">
    <?php $_cartQty = $this->getSummaryCount() ?>
    <div class="block-content">
        <span class="button-show"> 
            <i class="fa fa-suitcase fa-lg"></i>
            <a href="<?php echo $this->getUrl('checkout/cart') ?>"><?php echo $this->__('Cart (%s items)', (int) $_cartQty) ?></a>                   
        </span> 
        <div id="header-items">  
            <?php $_items = $this->getRecentItems() ?>
            <?php if(count($_items)): ?>
                <?php foreach($_items as $_item): ?>
                    <?php echo $this->getItemHtml($_item) ?>
                <?php endforeach; ?>
            <?php else: ?>
                <p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
            <?php endif ?>
            <div class="clear"></div> 
            <?php if ($_cartQty>0): ?>
            <div class="summary">
                <?php if ($this->canApplyMsrp()): ?>
                    <span class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
                <?php else: ?>
                    <?php echo $this->__('Total:') ?> <span class="price"><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></span>
                    <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
                        <br /><span class="price">(<?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)</span>
                    <?php endif; ?>
                <?php endif; ?>                                         
            </div>    
            <?php endif ?> 
            <div class="clear"></div>
            <?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>                              
            <button type="button" title="View Cart" class="button" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')"><?php echo $this->__('View Cart') ?></button>                                
            <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button_checkout" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><?php echo $this->__('Checkout') ?></button> 
            <?php endif ?>                               
        </div>                
    </div>
</div>