<?php if(count($this->getStores())>1): ?>
    <span class="label"><?php echo $this->__('Language') ?>:</span> 
    <p> 
        <a><?php echo Mage::app()->getStore()->getName(); ?></a>
        <span> 
        <?php foreach ($this->getStores() as $_lang): ?>
            <a href="<?php echo $_lang->getCurrentUrl() ?>"><?php echo $this->escapeHtml($_lang->getName()) ?></a> 
        <?php endforeach; ?>
        </span> 
    </p> 

<?php endif; ?>

